<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Cheaper and faster than Uniswap? Discover PancakeSwap, the leading DEX on BNB Smart Chain (BSC) with the best farms in DeFi and a lottery for CAKE.">
    <title>Home | PancakeSwap - $3.523</title>
    <link rel="stylesheet" href="hero.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;600&display=swap');
        </style>
  
   
</head>
<body>
     
    

<div class="main-container">


    <section class="main-banner-container">

    <div class="main-banner-sub-container">
        <div class="main-banner-content-container">

            <h2 class="main-banner-title mbt-a1">Perpetual Futures</h2>
            <h2 class="main-banner-title mbt-a2">Up to 100x Leverage</h2>

            <a href="#" class="link-aquagreen "> <!-- altro nome classe da dare eventualmente al secondo bottone che appare: main-banner-button-b -->
                <button class="button-aquagreen buttons-home main-banner-button-a">
                    Trade Now
                    <svg class="mbb-svg-a" viewBox="0 0 24 24" color="invertedContrast" width="20px" xmlns="http://www.w3.org/2000/svg"><path d="M5 13H16.17L11.29 17.88C10.9 18.27 10.9 18.91 11.29 19.3C11.68 19.69 12.31 19.69 12.7 19.3L19.29 12.71C19.68 12.32 19.68 11.69 19.29 11.3L12.71 4.7C12.32 4.31 11.69 4.31 11.3 4.7C10.91 5.09 10.91 5.72 11.3 6.11L16.17 11H5C4.45 11 4 11.45 4 12C4 12.55 4.45 13 5 13Z"></path></svg>
                </button>
            </a>




        </div>

        <div class="swiper-slide">
            <div class="swiper swpr-a"></div>
            <div class="swiper swpr-b"></div>
        </div>

        <div class="bunny-container-a bunny-container-a-desktop">
            <img class="perpetual-bunny-desk" src="/assets/images/homepage/countdown/perpetual.webp" alt="Panckake Swap Bunny">
        </div>

        <div class="bunny-container-a bunny-container-a-mobile">
            <img src="/assets/images/homepage/countdown/perpetualMobile.webp" alt="Panckake Swap Bunny">   
        </div>

    </div>

    </section>


 <!-- -------------------------------HERO SECTION----------------------------------- -->


        <div class="hero-container">

            <div class="container-1">


                <h2 class="h2-hero" >The moon is made of pancakes.</h2>
                <h3 class="h3-hero">Trade, earn, and win crypto, on the most popular decentralized platform in the galaxy  </h3>

                <section class="buttons">

                    <button class="connect-wallet">Connect Wallet</button>

                    <button class="trade-now">Trade Now</button>

                </section>


            </div>
            


            <div class="container-2">

                <div class="bunny-container">
                   <img class="lunar-bunny" src="/assets/images/homepage/lunar-bunny/bunny@2x.webp" alt="lunar-bunny">
                </div>

            </div>


        </div>


        
</div>

    

</body>
</html>