<<<<<<< HEAD
@charset "UTF-8";
=======
>>>>>>> camilla/feat-header
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
<<<<<<< HEAD
=======
  font-family: "Kanit", sans-serif;
  font-weight: 400;
}

.nav .icons-mobile button.connect {
  display: flex;
  width: 96.26px;
  height: 32px;
  padding: 0 16px;
  background-color: rgb(31, 199, 212);
  border-radius: 16px;
  box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
  font-weight: 600;
  font-size: var(--normal);
  color: #fff;
  cursor: pointer;
  margin-left: 20px;
  line-height: 32px;
>>>>>>> camilla/feat-header
}

/* HEADER ON TOP */
.nav {
  display: flex;
  height: 56px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(231, 227, 235);
  color: rgb(122, 110, 170);
  font-size: var(--normal);
<<<<<<< HEAD
=======
  padding: 0 16px;
>>>>>>> camilla/feat-header
}
.nav .navbar-icons {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
<<<<<<< HEAD
}
.nav .navbar-icons .mkt-value {
  margin-right: 15px;
=======
  gap: 15px;
  position: relative;
}
.nav .navbar-icons .mkt-value {
  margin-right: 25px;
}
.nav .navbar-icons .mkt-value > a {
  text-decoration: none;
>>>>>>> camilla/feat-header
}
.nav .navbar-icons .mkt-value > a > img {
  width: 24px;
  height: 24px;
<<<<<<< HEAD
=======
  transition: transform 0.2s;
}
.nav .navbar-icons .mkt-value > a > img:hover { /* IE 9 */ /* Safari 3-8 */
  transform: scale(1.2);
>>>>>>> camilla/feat-header
}
.nav .navbar-icons .mkt-value > a > span {
  color: rgb(122, 110, 170);
  font-weight: 600;
  line-height: 1.5;
  font-size: var(--normal);
  vertical-align: middle;
<<<<<<< HEAD
}
.nav .logo-desktop, .nav .navbarmenu, .nav .mkt-value, .nav .languages-container, .nav .connect-wallet {
=======
  margin-left: 8px;
  margin-right: 8px;
}
.nav .logo-desktop, .nav .navbarmenu, .nav .mkt-value, .nav .connect-wallet {
>>>>>>> camilla/feat-header
  display: none;
}
.nav .logo-mobile {
  display: block;
  width: 28.2px;
  height: 29.39px;
  margin-left: 16px;
}
.nav .icons-mobile {
  width: 184.26px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 16px;
<<<<<<< HEAD
=======
  transition: opacity 0.2s;
>>>>>>> camilla/feat-header
}
.nav .icons-mobile button {
  border: none;
  background-color: transparent;
}
.nav .icons-mobile .languages-btn > img {
<<<<<<< HEAD
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
.nav .icons-mobile button.connect {
  display: block;
  width: 96.26px;
  height: 32px;
  padding: 0 16px;
  background-color: rgb(31, 199, 212);
  border-radius: 16px;
  box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
  font-weight: 600;
  font-size: var(--normal);
  color: #fff;
  cursor: pointer;
  margin-left: 5px;
=======
  display: inline-flex;
  width: 24px;
  height: 24px;
  margin-right: 20px;
}
.nav .icons-mobile .languages-container {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-height: 400px;
  display: none;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  right: 44%;
  top: 100%;
  background-color: white;
  border-radius: 4px;
  box-shadow: rgba(25, 19, 38, 0.1) 0px 2px 12px -8px, rgba(25, 19, 38, 0.05) 0px 1px 1px;
  padding: 16px;
  overflow-y: scroll;
}
.nav .icons-mobile .languages-container:hover {
  opacity: 1;
}
.nav .icons-mobile .languages-container > button {
  color: rgb(40, 13, 95);
  font-weight: bold;
  border-radius: 8px;
  padding: 0px 8px;
  min-height: 32px;
  transition: 0.3s;
}
.nav .icons-mobile .languages-container > button:hover {
  color: rgba(40, 13, 95, 0.65);
}
.nav .icons-mobile .show-lang {
  display: flex;
>>>>>>> camilla/feat-header
}
.nav .icons-mobile.settings-container > button > img {
  display: inline-block;
  width: 24px;
  height: 24px;
}
<<<<<<< HEAD
=======
.nav .icons-mobile *:hover {
  opacity: 0.8;
}
>>>>>>> camilla/feat-header

.external-link img {
  width: 20px;
  height: 20px;
}

/* NAVBAR ON BOTTOM */
.bottom-mobile-navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid rgb(231, 227, 235);
  padding-top: 5px;
  padding-left: 8px;
  padding-right: 8px;
  height: 50px;
  position: fixed;
  bottom: 0px;
  width: 100%;
}
<<<<<<< HEAD
.bottom-mobile-navbar .menu-item-mobile > span {
=======
.bottom-mobile-navbar .bottom-drop-label {
>>>>>>> camilla/feat-header
  display: flex;
  flex-direction: column;
  font-size: 10px;
}
<<<<<<< HEAD

/* DROP DOWN-CONTENT (ON BOTTOM - mobile first) */
.bottom-mobile-navbar .menu-item-mobile .drop-down-content {
  display: none;
}

/*posso usare solo :hover al momento, poi userò js*/
.bottom-mobile-navbar .menu-item-mobile:hover .drop-down-content {
=======
.bottom-mobile-navbar .bottom-drop-label > img {
  width: 20px;
  height: 20px;
}
.bottom-mobile-navbar .menu-item-mobile > span {
  font-size: 10px;
}

/* DROP DOWN-CONTENT (ON BOTTOM - mobile first) */
.bottom-mobile-navbar .menu-item-mobile .bottom-drop-down-content {
  display: none;
}

/*hover effect*/
.bottom-mobile-navbar .menu-item-mobile:hover .bottom-drop-down-content {
>>>>>>> camilla/feat-header
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
  height: 106px;
  position: absolute;
  bottom: 100%;
  left: 0%;
  right: auto;
  border: 1px solid rgb(231, 227, 235);
  width: calc(100% - 32px);
  border-radius: 16px;
<<<<<<< HEAD
}
.bottom-mobile-navbar .menu-item-mobile:hover .drop-down-content div {
=======
  background-color: #fff;
}
.bottom-mobile-navbar .menu-item-mobile:hover .bottom-drop-down-content div {
>>>>>>> camilla/feat-header
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 48px;
  padding: 4px 16px;
  justify-content: center;
}
<<<<<<< HEAD
.bottom-mobile-navbar .menu-item-mobile:hover .drop-down-content div > a {
  color: rgb(122, 110, 170);
}

.bottom-mobile-navbar .menu-item-mobile:nth-child(3):hover .drop-down-content {
=======
.bottom-mobile-navbar .menu-item-mobile:hover .bottom-drop-down-content div > a {
  color: rgb(122, 110, 170);
  text-decoration: none;
}

.bottom-mobile-navbar .menu-item-mobile:nth-child(3):hover .bottom-drop-down-content {
>>>>>>> camilla/feat-header
  left: 3%;
  height: 154px;
}

<<<<<<< HEAD
.bottom-mobile-navbar .menu-item-mobile:nth-child(4):hover .drop-down-content {
=======
.bottom-mobile-navbar .menu-item-mobile:nth-child(4):hover .bottom-drop-down-content {
>>>>>>> camilla/feat-header
  right: 0;
  left: auto;
  height: 154px;
}

<<<<<<< HEAD
.bottom-mobile-navbar .menu-item-mobile:last-child:hover .drop-down-content {
=======
.bottom-mobile-navbar .menu-item-mobile:last-child:hover .bottom-drop-down-content {
>>>>>>> camilla/feat-header
  right: 0;
  left: auto;
  height: 316px;
}
<<<<<<< HEAD
.bottom-mobile-navbar .menu-item-mobile:last-child:hover .drop-down-content .external-link {
=======
.bottom-mobile-navbar .menu-item-mobile:last-child:hover .bottom-drop-down-content .external-link {
>>>>>>> camilla/feat-header
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
<<<<<<< HEAD
.bottom-mobile-navbar .menu-item-mobile:last-child:hover .drop-down-content div:nth-child(4) {
=======
.bottom-mobile-navbar .menu-item-mobile:last-child:hover .bottom-drop-down-content div:nth-child(4) {
>>>>>>> camilla/feat-header
  border-top: 1px solid rgb(231, 227, 235);
  border-bottom: 1px solid rgb(231, 227, 235);
}

@media screen and (min-width: 576px) {
  .bottom-mobile-navbar {
    display: none;
  }
  .nav {
    position: relative;
  }
  .nav .navbarmenu {
    display: flex;
    width: 300px;
<<<<<<< HEAD
=======
    align-items: center;
>>>>>>> camilla/feat-header
    justify-content: space-around;
    margin-right: auto;
    margin-left: 20px;
    font-size: var(--normal);
  }
  .nav .navbarmenu .drop-down-menu {
    position: relative;
    display: inline-block;
  }
<<<<<<< HEAD
=======
  .nav .navbarmenu .drop-down-menu .drop-label {
    padding: 12px 16px;
    box-sizing: border-box;
  }
  .nav .navbarmenu .drop-down-menu .drop-label:hover {
    background-color: rgb(239, 244, 245);
    border-radius: 16px;
    cursor: pointer;
  }
>>>>>>> camilla/feat-header
  .nav .navbarmenu .drop-down-menu:nth-child(2) > .drop-down-content {
    height: 106px;
  }
  .nav .navbarmenu .drop-down-menu:nth-child(3) > .drop-down-content {
    height: 154px;
  }
  .nav .navbarmenu .drop-down-menu:nth-child(4) > .drop-down-content {
    height: 316px;
  }
  .nav .navbarmenu .drop-down-menu:nth-child(4) > .drop-down-content > div:nth-child(4) {
    border-top: 1px solid rgb(231, 227, 235);
    border-bottom: 1px solid rgb(231, 227, 235);
  }
  .nav .navbarmenu .drop-down-menu:nth-child(5) > .drop-down-content {
    height: 316px;
  }
  .nav .navbarmenu .drop-down-menu .drop-down-content {
    display: none;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    height: 202px;
    width: 280px;
<<<<<<< HEAD
    top: 156%;
    left: 0%;
    border: 1px solid rgb(231, 227, 235);
    border-radius: 16px;
=======
    top: 108%;
    left: 0%;
    border: 1px solid rgb(231, 227, 235);
    border-radius: 16px;
    background-color: #fff;
>>>>>>> camilla/feat-header
  }
  .nav .navbarmenu .drop-down-menu .drop-down-content .external-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .nav .navbarmenu .drop-down-menu .drop-down-content div {
    display: flex;
    flex-direction: column;
    height: 48px;
    padding: 4px 16px;
    justify-content: center;
  }
  .nav .navbarmenu .drop-down-menu .drop-down-content div > a {
    color: rgb(122, 110, 170);
<<<<<<< HEAD
=======
    text-decoration: none;
>>>>>>> camilla/feat-header
  }
  .nav .navbarmenu .drop-down-menu .show {
    display: flex;
  }
}
@media screen and (min-width: 852px) {
<<<<<<< HEAD
  .navbar-icons .mkt-value {
    display: inline-flex;
  }
=======
  .nav .navbar-icons .icons-mobile .languages-container {
    right: 33%;
  }
  .navbar-icons .mkt-value {
    display: inline-flex;
  }
  .icons-mobile .connect-buttons .connect-wallet {
    display: flex;
    width: 96.26px;
    height: 32px;
    padding: 0 16px;
    background-color: rgb(31, 199, 212);
    border-radius: 16px;
    box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
    font-weight: 600;
    font-size: var(--normal);
    color: #fff;
    cursor: pointer;
    margin-left: 20px;
    line-height: 32px;
    width: 149.16px;
  }
  .nav .icons-mobile button.connect {
    display: none;
  }
>>>>>>> camilla/feat-header
}
@media screen and (min-width: 968px) {
  .nav .logo-mobile {
    width: 160px;
    height: 24.85px;
  }
}/*# sourceMappingURL=header-style.css.map */