<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300;600&family=Oswald:wght@300;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="cards-nft-collection.css"/>
</head>
<body>
<div class="nft-card-container">
<!--in parte è stato utilizzato Bootstrap-->
    <!--CARD1-->
    <a href="#">
        <div class="card d-flex">
            <div class="nft-card-header">
                <img class="card-img-top" alt="collection banner" srcset="../../assets/images/nft-cards-images/banner1-sm.webp 1x,
                ../../assets/images/nft-cards-images/banner1-lg.webp 2x"
                src="../../assets/images/nft-cards-images/banner1-sm.webp"/>
            </div>
        
            <div class="nft-card-content">
                <div class="nft-avatar">
                    <img src="../../assets/images/nft-cards-images/avatar1.png" alt="collection avatar"/>
                </div>
                <h3>Planet ZUUD: Tiger Warriors</h3>
                <footer class="nft-card-footer">
                    <span>volume</span>
                    <img src="../../svg/bnb-icon.svg" alt="bnb icon"/>
                    <span>3,949</span>
                </footer>
            </div>
        </div>
    </a>

    <!--CARD2-->
    <a href="#">
        <div class="card d-flex">
            <div class="nft-card-header">
                <img class="card-img-top" alt="collection banner" src="../../assets/images/nft-cards-images/banner2-sm.webp"/>
            </div>
            
            <div class="nft-card-content">
                <div class="nft-avatar">
                    <img src="../../assets/images/nft-cards-images/avatar2.png" alt="collection avatar"/>
                </div>
                <h3>Neural Pepe</h3>
                <footer class="nft-card-footer">
                    <span>volume</span>
                    <img src="../../svg/bnb-icon.svg" alt="bnb icon"/>
                    <span>3,7295</span>
                </footer>

            </div>
        </div>
    </a>

    <!--CARD 3-->
    <a href="#">
        <div class="card d-flex">
            <div class="nft-card-header">
                <img class="card-img-top" alt="collection banner" src="../../assets/images/nft-cards-images/banner3.png"/>
            </div>
            
            <div class="nft-card-content">
                <div class="nft-avatar">
                    <img src="../../assets/images/nft-cards-images/avatar3.png" alt="collection avatar"/>
                </div>
                <h3>Trippy Trunkz Ivory Club</h3>
                <footer class="nft-card-footer">
                    <span>volume</span>
                    <img src="../../svg/bnb-icon.svg" alt="bnb icon"/>
                    <span>9,6405</span>
                </footer>
            </div>
        </div>
    </a>


    <!--CARD 4-->
    <a href="#">
        <div class="card d-flex">
            <div class="nft-card-header">
                <img class="card-img-top" alt="collection banner" src="../../assets/images/nft-cards-images/banner4.png"/>
            </div>
        
            <div class="nft-card-content">
                <div class="nft-avatar">
                    <img src="../../assets/images/nft-cards-images/avatar4.png" alt="collection avatar"/>
                </div>
                <h3>3D brave tigers</h3>
                <footer class="nft-card-footer">
                    <span>volume</span>
                    <img src="../../svg/bnb-icon.svg" alt="bnb icon"/>
                    <span>67,2911</span>
                </footer>
            </div>
        </div>
    </a>

    <!--CARD 5-->
    <a href="#">
        <div class="card d-flex">
            <div class="nft-card-header">
                <img class="card-img-top" alt="collection banner" src="../../assets/images/nft-cards-images/banner5.png"/>
            </div>
        
            <div class="nft-card-content">
                <div class="nft-avatar">
                    <img src="../../assets/images/nft-cards-images/avatar5.png" alt="collection avatar"/>
                </div>
                <h3>Horror Ape Club</h3>
                <footer class="nft-card-footer">
                    <span>volume</span>
                <img src="../../svg/bnb-icon.svg" alt="bnb icon"/>
                <span>130,90238</span>
                </footer>
            </div>
        </div>
    </a>

    <!--CARD 6-->
    <a href="#">
        <div class="card d-flex">
            <div class="nft-card-header">
                <img class="card-img-top" alt="collection banner" src="../../assets/images/nft-cards-images/banner6.png"/>
            </div>
        
            <div class="nft-card-content">
                <div class="nft-avatar">
                    <img src="../../assets/images/nft-cards-images/avatar6.png" alt="collection avatar"/>
                </div>
                <h3>Bitpunks</h3>
                <footer class="nft-card-footer">
                    <span>volume</span>
                    <img src="../../svg/bnb-icon.svg" alt="bnb icon"/>
                    <span>9,85</span>
                </footer>
            </div>
        </div>
    </a>

</div>
</hr>








</body>
</html>