* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:  "Kanit", sans-serif;
    
}

body {
    max-width: 100%;
}
.head-nft-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .mercato-title{
        color: rgb(118,69,217);
        font-size: 64px;
        font-weight: bolder; 
    }
    .acquista-title{
        color: rgb(40,13,95);
        font-size: 24px;
        font-weight: bold;
    }
    .search-box{
        width: 260px;
        height: 40px;
        border-radius: 15px;
        background-color: rgb(238,234,244);
    }
}
.card-recent{
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    .direction{
        color:aqua;
    }
    .h3-raccolte{
        color: rgb(40,13,95);
        font-size: 24px;
        font-weight: bold;
    }
    .btn-mostra{
        background-color: white;
        border: 1px solid rgb(31,199,212);
        border-radius: 15px;
        width: 150px;
        color: rgb(31,199,212);
        font-size: 16px;
        font-weight: bold;
    }
}
.nft-card-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    padding: 16px;
   


    a:hover {
        text-decoration: none;
    }
 
    

    .card  {
        min-width: 379px;
        border: 1px solid rgb(231, 227, 235);
        border-radius: 8px 8px 8px 56px;
        box-shadow: rgb(0 0 0 / 10%) 0px -2px 0px inset;
        padding: 10px;

        .nft-card-header {
           height: 130px;
        

            .card-img-top {
                border-radius: 5px;
                height: 100%;
                object-fit: cover;

            }

        }

        & .nft-card-content {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            padding: 8px;
            height: 65px;

            & h3 {
                font-size: 20px;
                font-weight: 600;
                line-height: 1.1;
                color: rgb(40, 13, 95);
                text-transform: capitalize;
            }

            & .nft-avatar {
                border-radius: 50%;
                position: absolute;
                left: 0px;
                top: -21px;
                border: 4px solid white;
                max-height: 88px;
                max-width: 88px;
        
                & > img {
                    height: 100%;
                    width: 100%;
                    object-fit: fill;
                    border-radius: 50%;
                
                }

            }

        }

        & .nft-card-footer {
            display: flex;
            align-items: center;

            & span:first-of-type {
                color: rgb(122, 110, 170);
                font-weight: 400;
                line-height: 1.5;
                font-size: 12px;
                text-transform: capitalize;
            }

            & > img {
                width: 16px;
                height: 16px;
                margin: 0 4px;
            }

            & span:nth-of-type(2) {
                color: rgb(40, 13, 95);
                line-height: 1.5;
                font-weight: 600;
                font-size: 16px;
            }
        }
    }
    
}
.container-last-card{
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
    padding-left: 50px;
    padding-right: 50px;
.card-last{ 
    width: 330px;
    height: 480px;
    border: 1px solid lightgray;

 .avatar-img{
    padding: 20px;
    .avatar{
        border-radius: 8px;
    }
    

 }
 .body-card{
    height: 130px;
    h4{
        color: rgb(40,13,95);
    }
 }
 .footer-card{
    border-top: 1px solid lightgray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 20px;
    align-items: center;
    p{
        color: rgb(122,110,170);
    }
    .after-cash{
        color: rgb(40,13,95);
    }
 }
}
}


      
 

@media screen and (min-width: 576px) {

    .nft-card-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
       
      
    }
}


@media screen and (min-width: 852px) {

    .nft-card-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
       
      
    }
}










