<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300;600&family=Oswald:wght@300;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="cards-nft-collection.css"/>
</head>
<body>
    <div class="head-nft-title">
        <div class="h1-h2title"><h1 class="mercato-title">Mercato NFT</h1>
        <h3 class="acquista-title">Acquista e vendi NFT su BNB Smart Chain</h3>
    </div>
    <div class="search-container"><input class="search-box" type="search" name="search-box" placeholder="Cerca indirizzo"></div>
    </div>
    <div class="card-recent">
        <h3 class="h3-raccolte">Raccolte più recenti</h3>
        <a href="#"><button class="btn-mostra">Mostra tutto <svg viewBox="0 0 24 24" color="primary" width="24px" xmlns="http://www.w3.org/2000/svg" class="direction"><path d="M9.29006 15.88L13.1701 12L9.29006 8.12001C8.90006 7.73001 8.90006 7.10001 9.29006 6.71001C9.68006 6.32001 10.3101 6.32001 10.7001 6.71001L15.2901 11.3C15.6801 11.69 15.6801 12.32 15.2901 12.71L10.7001 17.3C10.3101 17.69 9.68006 17.69 9.29006 17.3C8.91006 16.91 8.90006 16.27 9.29006 15.88Z"></path></svg></button></a>
    </div>

<div class="nft-card-container">
<!--in parte è stato utilizzato Bootstrap-->
    <!--CARD1-->
    <a href="#">
        <div class="card d-flex">
            <div class="nft-card-header">
                <img class="card-img-top" alt="collection banner" srcset="../../assets/images/nft-cards-images/banner1-sm.webp 1x,
                ../../assets/images/nft-cards-images/banner1-lg.webp 2x"
                src="../../assets/images/nft-cards-images/banner1-sm.webp"/>
            </div>
        
            <div class="nft-card-content">
                <div class="nft-avatar">
                    <img src="../../assets/images/nft-cards-images/avatar1.png" alt="collection avatar"/>
                </div>
                <h3>Planet ZUUD: Tiger Warriors</h3>
                <footer class="nft-card-footer">
                    <span>volume</span>
                    <img src="../../svg/bnb-icon.svg" alt="bnb icon"/>
                    <span>3,949</span>
                </footer>
            </div>
        </div>
    </a>

    <!--CARD2-->
    <a href="#">
        <div class="card d-flex">
            <div class="nft-card-header">
                <img class="card-img-top" alt="collection banner" src="../../assets/images/nft-cards-images/banner2-sm.webp"/>
            </div>
            
            <div class="nft-card-content">
                <div class="nft-avatar">
                    <img src="../../assets/images/nft-cards-images/avatar2.png" alt="collection avatar"/>
                </div>
                <h3>Neural Pepe</h3>
                <footer class="nft-card-footer">
                    <span>volume</span>
                    <img src="../../svg/bnb-icon.svg" alt="bnb icon"/>
                    <span>3,7295</span>
                </footer>

            </div>
        </div>
    </a>

    <!--CARD 3-->
    <a href="#">
        <div class="card d-flex">
            <div class="nft-card-header">
                <img class="card-img-top" alt="collection banner" src="../../assets/images/nft-cards-images/banner3.png"/>
            </div>
            
            <div class="nft-card-content">
                <div class="nft-avatar">
                    <img src="../../assets/images/nft-cards-images/avatar3.png" alt="collection avatar"/>
                </div>
                <h3>Trippy Trunkz Ivory Club</h3>
                <footer class="nft-card-footer">
                    <span>volume</span>
                    <img src="../../svg/bnb-icon.svg" alt="bnb icon"/>
                    <span>9,6405</span>
                </footer>
            </div>
        </div>
    </a>


    <!--CARD 4-->
    <a href="#">
        <div class="card d-flex">
            <div class="nft-card-header">
                <img class="card-img-top" alt="collection banner" src="../../assets/images/nft-cards-images/banner4.png"/>
            </div>
        
            <div class="nft-card-content">
                <div class="nft-avatar">
                    <img src="../../assets/images/nft-cards-images/avatar4.png" alt="collection avatar"/>
                </div>
                <h3>3D brave tigers</h3>
                <footer class="nft-card-footer">
                    <span>volume</span>
                    <img src="../../svg/bnb-icon.svg" alt="bnb icon"/>
                    <span>67,2911</span>
                </footer>
            </div>
        </div>
    </a>

    <!--CARD 5-->
    <a href="#">
        <div class="card d-flex">
            <div class="nft-card-header">
                <img class="card-img-top" alt="collection banner" src="../../assets/images/nft-cards-images/banner5.png"/>
            </div>
        
            <div class="nft-card-content">
                <div class="nft-avatar">
                    <img src="../../assets/images/nft-cards-images/avatar5.png" alt="collection avatar"/>
                </div>
                <h3>Horror Ape Club</h3>
                <footer class="nft-card-footer">
                    <span>volume</span>
                <img src="../../svg/bnb-icon.svg" alt="bnb icon"/>
                <span>130,90238</span>
                </footer>
            </div>
        </div>
    </a>

    <!--CARD 6-->
    <a href="#">
        <div class="card d-flex">
            <div class="nft-card-header">
                <img class="card-img-top" alt="collection banner" src="../../assets/images/nft-cards-images/banner6.png"/>
            </div>
        
            <div class="nft-card-content">
                <div class="nft-avatar">
                    <img src="../../assets/images/nft-cards-images/avatar6.png" alt="collection avatar"/>
                </div>
                <h3>Bitpunks</h3>
                <footer class="nft-card-footer">
                    <span>volume</span>
                    <img src="../../svg/bnb-icon.svg" alt="bnb icon"/>
                    <span>9,85</span>
                </footer>
            </div>
        </div>
    </a>

</div>
</hr>
<div class="card-recent">
    <h3 class="h3-raccolte">Raccolte più recenti</h3>
    <a href="#"><button class="btn-mostra">Mostra tutto <svg viewBox="0 0 24 24" color="primary" width="24px" xmlns="http://www.w3.org/2000/svg" class="sc-8a800401-0 hUJQGG"><path d="M9.29006 15.88L13.1701 12L9.29006 8.12001C8.90006 7.73001 8.90006 7.10001 9.29006 6.71001C9.68006 6.32001 10.3101 6.32001 10.7001 6.71001L15.2901 11.3C15.6801 11.69 15.6801 12.32 15.2901 12.71L10.7001 17.3C10.3101 17.69 9.68006 17.69 9.29006 17.3C8.91006 16.91 8.90006 16.27 9.29006 15.88Z"></path></svg></button></a>
</div>

<div class="nft-card-container">
    <!--in parte è stato utilizzato Bootstrap-->
        <!--CARD1-->
        <a href="#">
            <div class="card d-flex">
                <div class="nft-card-header">
                    <img class="card-img-top" alt="collection banner"
                    src="../../assets/images/nft-cards-images/banner-bunny-1.webp"/>
                </div>
            
                <div class="nft-card-content">
                    <div class="nft-avatar">
                        <img src="../../assets/images/nft-cards-images/avatar-bunny-1.png" alt="collection avatar"/>
                    </div>
                    <h3>Pancake Squad</h3>
                    <footer class="nft-card-footer">
                        <span>volume</span>
                        <img src="../../svg/bnb-icon.svg" alt="bnb icon"/>
                        <span>145.659,84513</span>
                    </footer>
                </div>
            </div>
        </a>
    
        <!--CARD2-->
        <a href="#">
            <div class="card d-flex">
                <div class="nft-card-header">
                    <img class="card-img-top" alt="collection banner" src="../../assets/images/nft-cards-images/banner-cake-2.webp"/>
                </div>
                
                <div class="nft-card-content">
                    <div class="nft-avatar">
                        <img src="../../assets/images/nft-cards-images/avatar-cake-bunny.png" alt="collection avatar"/>
                    </div>
                    <h3>Pancake Bunnies</h3>
                    <footer class="nft-card-footer">
                        <span>volume</span>
                        <img src="../../svg/bnb-icon.svg" alt="bnb icon"/>
                        <span>34.106,65033</span>
                    </footer>
    
                </div>
            </div>
        </a>
    
        <!--CARD 3-->
        <a href="#">
            <div class="card d-flex">
                <div class="nft-card-header">
                    <img class="card-img-top" alt="collection banner" src="../../assets/images/nft-cards-images/banner-gorilla.webp"/>
                </div>
                
                <div class="nft-card-content">
                    <div class="nft-avatar">
                        <img src="../../assets/images/nft-cards-images/avatar-gorilla.png" alt="collection avatar"/>
                    </div>
                    <h3>Gamester Apes</h3>
                    <footer class="nft-card-footer">
                        <span>volume</span>
                        <img src="../../svg/bnb-icon.svg" alt="bnb icon"/>
                        <span>2.648,00149</span>
                    </footer>
                </div>
            </div>
        </a>
    
    
        <!--CARD 4-->
        <a href="#">
            <div class="card d-flex">
                <div class="nft-card-header">
                    <img class="card-img-top" alt="collection banner" src="../../assets/images/nft-cards-images/banner-punks.webp"/>
                </div>
            
                <div class="nft-card-content">
                    <div class="nft-avatar">
                        <img src="../../assets/images/nft-cards-images/avatar-int.png" alt="collection avatar"/>
                    </div>
                    <h3>ShitPunks</h3>
                    <footer class="nft-card-footer">
                        <span>volume</span>
                        <img src="../../svg/bnb-icon.svg" alt="bnb icon"/>
                        <span>1.836,89922</span>
                    </footer>
                </div>
            </div>
        </a>
    
        <!--CARD 5-->
        <a href="#">
            <div class="card d-flex">
                <div class="nft-card-header">
                    <img class="card-img-top" alt="collection banner" src="../../assets/images/nft-cards-images/banner-bad-boy.webp"/>
                </div>
            
                <div class="nft-card-content">
                    <div class="nft-avatar">
                        <img src="../../assets/images/nft-cards-images/avatar-space.png" alt="collection avatar"/>
                    </div>
                    <h3>BornBadBoy</h3>
                    <footer class="nft-card-footer">
                        <span>volume</span>
                    <img src="../../svg/bnb-icon.svg" alt="bnb icon"/>
                    <span>1.176,8545</span>
                    </footer>
                </div>
            </div>
        </a>
    
        <!--CARD 6-->
        <a href="#">
            <div class="card d-flex">
                <div class="nft-card-header">
                    <img class="card-img-top" alt="collection banner" src="../../assets/images/nft-cards-images/banner-pixel.webp"/>
                </div>
            
                <div class="nft-card-content">
                    <div class="nft-avatar">
                        <img src="../../assets/images/nft-cards-images/avatar-pixel.png" alt="collection avatar"/>
                    </div>
                    <h3>PixelSweeper</h3>
                    <footer class="nft-card-footer">
                        <span>volume</span>
                        <img src="../../svg/bnb-icon.svg" alt="bnb icon"/>
                        <span>1.144,79</span>
                    </footer>
                </div>
            </div>
        </a>
    
    </div>
    <hr>
    
    <div class="card-recent">
        <h3 class="h3-raccolte">Raccolte più recenti</h3>
        <a href="#"><button class="btn-mostra">Mostra tutto <svg viewBox="0 0 24 24" color="primary" width="24px" xmlns="http://www.w3.org/2000/svg" class="sc-8a800401-0 hUJQGG"><path d="M9.29006 15.88L13.1701 12L9.29006 8.12001C8.90006 7.73001 8.90006 7.10001 9.29006 6.71001C9.68006 6.32001 10.3101 6.32001 10.7001 6.71001L15.2901 11.3C15.6801 11.69 15.6801 12.32 15.2901 12.71L10.7001 17.3C10.3101 17.69 9.68006 17.69 9.29006 17.3C8.91006 16.91 8.90006 16.27 9.29006 15.88Z"></path></svg></button></a>
    </div>


<div class="container-last-card">
    <div class="card-last">
        <div class="avatar-img">
        <img class="avatar" src="degen-ape-3592-1000.png" alt="scimmia fatta" width="280px" height="280px">
    </div>
    <div class="body-card">
        <h4>Degen ape club</h4>
        <h2>Degenape #3592</h2>
    </div>
    <div class="footer-card">
        <p>Richiesta prezzo</p><p class="">($91.953,31) <img src="../../svg/bnb-icon.svg" alt="cahs-svg" width="17px"> <h3 class="after-cash">333</h3></p>
    </div>
    </div>
    <div class="card-last">
        <div class="avatar-img">
        <img class="avatar" src="degen-ape-3592-1000.png" alt="scimmia fatta" width="280px" height="280px">
    </div>
    <div class="body-card">
        <h4>Degen ape club</h4>
        <h2>Degenape #3592</h2>
    </div>
    <div class="footer-card">
        <p>Richiesta prezzo</p><p class="">($91.953,31) <img src="../../svg/bnb-icon.svg" alt="cahs-svg" width="17px"> <h3 class="after-cash">333</h3></p>
    </div>
    </div>
    <div class="card-last">
        <div class="avatar-img">
        <img class="avatar" src="degen-ape-3592-1000.png" alt="scimmia fatta" width="280px" height="280px">
    </div>
    <div class="body-card">
        <h4>Degen ape club</h4>
        <h2>Degenape #3592</h2>
    </div>
    <div class="footer-card">
        <p>Richiesta prezzo</p><p class="">($91.953,31) <img src="../../svg/bnb-icon.svg" alt="cahs-svg" width="17px"> <h3 class="after-cash">333</h3></p>
    </div>
    </div>
    <div class="card-last">
        <div class="avatar-img">
        <img class="avatar" src="degen-ape-3592-1000.png" alt="scimmia fatta" width="280px" height="280px">
    </div>
    <div class="body-card">
        <h4>Degen ape club</h4>
        <h2>Degenape #3592</h2>
    </div>
    <div class="footer-card">
        <p>Richiesta prezzo</p><p class="">($91.953,31) <img src="../../svg/bnb-icon.svg" alt="cahs-svg" width="17px"> <h3 class="after-cash">333</h3></p>
    </div>
    </div>
    <div class="card-last">
        <div class="avatar-img">
        <img class="avatar" src="degen-ape-3592-1000.png" alt="scimmia fatta" width="280px" height="280px">
    </div>
    <div class="body-card">
        <h4>Degen ape club</h4>
        <h2>Degenape #3592</h2>
    </div>
    <div class="footer-card">
        <p>Richiesta prezzo</p><p class="">($91.953,31) <img src="../../svg/bnb-icon.svg" alt="cahs-svg" width="17px"> <h3 class="after-cash">333</h3></p>
    </div>
    </div>
    <div class="card-last">
        <div class="avatar-img">
        <img class="avatar" src="degen-ape-3592-1000.png" alt="scimmia fatta" width="280px" height="280px">
    </div>
    <div class="body-card">
        <h4>Degen ape club</h4>
        <h2>Degenape #3592</h2>
    </div>
    <div class="footer-card">
        <p>Richiesta prezzo</p><p class="">($91.953,31) <img src="../../svg/bnb-icon.svg" alt="cahs-svg" width="17px"> <h3 class="after-cash">333</h3></p>
    </div>
    </div>
    <div class="card-last">
        <div class="avatar-img">
        <img class="avatar" src="degen-ape-3592-1000.png" alt="scimmia fatta" width="280px" height="280px">
    </div>
    <div class="body-card">
        <h4>Degen ape club</h4>
        <h2>Degenape #3592</h2>
    </div>
    <div class="footer-card">
        <p>Richiesta prezzo</p><p class="">($91.953,31) <img src="../../svg/bnb-icon.svg" alt="cahs-svg" width="17px"> <h3 class="after-cash">333</h3></p>
    </div>
    </div>
    <div class="card-last">
        <div class="avatar-img">
        <img class="avatar" src="degen-ape-3592-1000.png" alt="scimmia fatta" width="280px" height="280px">
    </div>
    <div class="body-card">
        <h4>Degen ape club</h4>
        <h2>Degenape #3592</h2>
    </div>
    <div class="footer-card">
        <p>Richiesta prezzo</p><p class="">($91.953,31) <img src="../../svg/bnb-icon.svg" alt="cahs-svg" width="17px"> <h3 class="after-cash">333</h3></p>
    </div>
    </div>
    <div class="card-last">
        <div class="avatar-img">
        <img class="avatar" src="degen-ape-3592-1000.png" alt="scimmia fatta" width="280px" height="280px">
    </div>
    <div class="body-card">
        <h4>Degen ape club</h4>
        <h2>Degenape #3592</h2>
    </div>
    <div class="footer-card">
        <p>Richiesta prezzo</p><p class="">($91.953,31) <img src="../../svg/bnb-icon.svg" alt="cahs-svg" width="17px"> <h3 class="after-cash">333</h3></p>
    </div>
    </div>
    <div class="card-last">
        <div class="avatar-img">
        <img class="avatar" src="degen-ape-3592-1000.png" alt="scimmia fatta" width="280px" height="280px">
    </div>
    <div class="body-card">
        <h4>Degen ape club</h4>
        <h2>Degenape #3592</h2>
    </div>
    <div class="footer-card">
        <p>Richiesta prezzo</p><p class="">($91.953,31) <img src="../../svg/bnb-icon.svg" alt="cahs-svg" width="17px"> <h3 class="after-cash">333</h3></p>
    </div>
    </div>
    <div class="card-last">
        <div class="avatar-img">
        <img class="avatar" src="degen-ape-3592-1000.png" alt="scimmia fatta" width="280px" height="280px">
    </div>
    <div class="body-card">
        <h4>Degen ape club</h4>
        <h2>Degenape #3592</h2>
    </div>
    <div class="footer-card">
        <p>Richiesta prezzo</p><p class="">($91.953,31) <img src="../../svg/bnb-icon.svg" alt="cahs-svg" width="17px"> <h3 class="after-cash">333</h3></p>
    </div>
    </div>
    <div class="card-last">
        <div class="avatar-img">
        <img class="avatar" src="degen-ape-3592-1000.png" alt="scimmia fatta" width="280px" height="280px">
    </div>
    <div class="body-card">
        <h4>Degen ape club</h4>
        <h2>Degenape #3592</h2>
    </div>
    <div class="footer-card">
        <p>Richiesta prezzo</p><p class="">($91.953,31) <img src="../../svg/bnb-icon.svg" alt="cahs-svg" width="17px"> <h3 class="after-cash">333</h3></p>
    </div>
    </div>
    
</div>

</body>
</html>
  