<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300;600&family=Oswald:wght@300;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="cards-nft-collection.css"/>
</head>
<body>
    <div class="head-nft-title">
        <div class="h1-h2title"><h1 class="mercato-title">Mercato NFT</h1>
        <h3 class="acquista-title">Acquista e vendi NFT su BNB Smart Chain</h3>
    </div>
    <div class="search-container"><input class="search-box" type="search" name="search-box" placeholder="Cerca indirizzo"></div>
    </div>
    <div class="card-recent">
        <h3 class="h3-raccolte">Raccolte più recenti</h3>
        <a href="#"><button class="btn-mostra">Mostra tutto > </svg></button></a>
    </div>

<div class="nft-card-container">
<!--in parte è stato utilizzato Bootstrap-->
    <!--CARD1-->
    <a href="#">
        <div class="card d-flex">
            <div class="nft-card-header">
                <img class="card-img-top" alt="collection banner" srcset="../../assets/images/nft-cards-images/banner1-sm.webp 1x,
                ../../assets/images/nft-cards-images/banner1-lg.webp 2x"
                src="../../assets/images/nft-cards-images/banner1-sm.webp"/>
            </div>
        
            <div class="nft-card-content">
                <div class="nft-avatar">
                    <img src="../../assets/images/nft-cards-images/avatar1.png" alt="collection avatar"/>
                </div>
                <h3>Planet ZUUD: Tiger Warriors</h3>
                <footer class="nft-card-footer">
                    <span>volume</span>
                    <img src="../../svg/bnb-icon.svg" alt="bnb icon"/>
                    <span>3,949</span>
                </footer>
            </div>
        </div>
    </a>

    <!--CARD2-->
    <a href="#">
        <div class="card d-flex">
            <div class="nft-card-header">
                <img class="card-img-top" alt="collection banner" src="../../assets/images/nft-cards-images/banner2-sm.webp"/>
            </div>
            
            <div class="nft-card-content">
                <div class="nft-avatar">
                    <img src="../../assets/images/nft-cards-images/avatar2.png" alt="collection avatar"/>
                </div>
                <h3>Neural Pepe</h3>
                <footer class="nft-card-footer">
                    <span>volume</span>
                    <img src="../../svg/bnb-icon.svg" alt="bnb icon"/>
                    <span>3,7295</span>
                </footer>

            </div>
        </div>
    </a>

    <!--CARD 3-->
    <a href="#">
        <div class="card d-flex">
            <div class="nft-card-header">
                <img class="card-img-top" alt="collection banner" src="../../assets/images/nft-cards-images/banner3.png"/>
            </div>
            
            <div class="nft-card-content">
                <div class="nft-avatar">
                    <img src="../../assets/images/nft-cards-images/avatar3.png" alt="collection avatar"/>
                </div>
                <h3>Trippy Trunkz Ivory Club</h3>
                <footer class="nft-card-footer">
                    <span>volume</span>
                    <img src="../../svg/bnb-icon.svg" alt="bnb icon"/>
                    <span>9,6405</span>
                </footer>
            </div>
        </div>
    </a>


    <!--CARD 4-->
    <a href="#">
        <div class="card d-flex">
            <div class="nft-card-header">
                <img class="card-img-top" alt="collection banner" src="../../assets/images/nft-cards-images/banner4.png"/>
            </div>
        
            <div class="nft-card-content">
                <div class="nft-avatar">
                    <img src="../../assets/images/nft-cards-images/avatar4.png" alt="collection avatar"/>
                </div>
                <h3>3D brave tigers</h3>
                <footer class="nft-card-footer">
                    <span>volume</span>
                    <img src="../../svg/bnb-icon.svg" alt="bnb icon"/>
                    <span>67,2911</span>
                </footer>
            </div>
        </div>
    </a>

    <!--CARD 5-->
    <a href="#">
        <div class="card d-flex">
            <div class="nft-card-header">
                <img class="card-img-top" alt="collection banner" src="../../assets/images/nft-cards-images/banner5.png"/>
            </div>
        
            <div class="nft-card-content">
                <div class="nft-avatar">
                    <img src="../../assets/images/nft-cards-images/avatar5.png" alt="collection avatar"/>
                </div>
                <h3>Horror Ape Club</h3>
                <footer class="nft-card-footer">
                    <span>volume</span>
                <img src="../../svg/bnb-icon.svg" alt="bnb icon"/>
                <span>130,90238</span>
                </footer>
            </div>
        </div>
    </a>

    <!--CARD 6-->
    <a href="#">
        <div class="card d-flex">
            <div class="nft-card-header">
                <img class="card-img-top" alt="collection banner" src="../../assets/images/nft-cards-images/banner6.png"/>
            </div>
        
            <div class="nft-card-content">
                <div class="nft-avatar">
                    <img src="../../assets/images/nft-cards-images/avatar6.png" alt="collection avatar"/>
                </div>
                <h3>Bitpunks</h3>
                <footer class="nft-card-footer">
                    <span>volume</span>
                    <img src="../../svg/bnb-icon.svg" alt="bnb icon"/>
                    <span>9,85</span>
                </footer>
            </div>
        </div>
    </a>

</div>
</hr>
<div class="card-recent">
    <h3 class="h3-raccolte">Raccolte più recenti</h3>
    <a href="#"><button class="btn-mostra">Mostra tutto ></button></a>
</div>

<div class="nft-card-container">
    <!--in parte è stato utilizzato Bootstrap-->
        <!--CARD1-->
        <a href="#">
            <div class="card d-flex">
                <div class="nft-card-header">
                    <img class="card-img-top" alt="collection banner"
                    src="../../assets/images/nft-cards-images/banner-bunny-1.webp"/>
                </div>
            
                <div class="nft-card-content">
                    <div class="nft-avatar">
                        <img src="../../assets/images/nft-cards-images/avatar-bunny-1.png" alt="collection avatar"/>
                    </div>
                    <h3>Pancake Squad</h3>
                    <footer class="nft-card-footer">
                        <span>volume</span>
                        <img src="../../svg/bnb-icon.svg" alt="bnb icon"/>
                        <span>145.659,84513</span>
                    </footer>
                </div>
            </div>
        </a>
    
        <!--CARD2-->
        <a href="#">
            <div class="card d-flex">
                <div class="nft-card-header">
                    <img class="card-img-top" alt="collection banner" src="../../assets/images/nft-cards-images/banner-cake-2.webp"/>
                </div>
                
                <div class="nft-card-content">
                    <div class="nft-avatar">
                        <img src="../../assets/images/nft-cards-images/avatar-cake-bunny.png" alt="collection avatar"/>
                    </div>
                    <h3>Pancake Bunnies</h3>
                    <footer class="nft-card-footer">
                        <span>volume</span>
                        <img src="../../svg/bnb-icon.svg" alt="bnb icon"/>
                        <span>34.106,65033</span>
                    </footer>
    
                </div>
            </div>
        </a>
    
        <!--CARD 3-->
        <a href="#">
            <div class="card d-flex">
                <div class="nft-card-header">
                    <img class="card-img-top" alt="collection banner" src="../../assets/images/nft-cards-images/banner-gorilla.webp"/>
                </div>
                
                <div class="nft-card-content">
                    <div class="nft-avatar">
                        <img src="../../assets/images/nft-cards-images/avatar-gorilla.png" alt="collection avatar"/>
                    </div>
                    <h3>Gamester Apes</h3>
                    <footer class="nft-card-footer">
                        <span>volume</span>
                        <img src="../../svg/bnb-icon.svg" alt="bnb icon"/>
                        <span>2.648,00149</span>
                    </footer>
                </div>
            </div>
        </a>
    
    
        <!--CARD 4-->
        <a href="#">
            <div class="card d-flex">
                <div class="nft-card-header">
                    <img class="card-img-top" alt="collection banner" src="../../assets/images/nft-cards-images/banner-punks.webp"/>
                </div>
            
                <div class="nft-card-content">
                    <div class="nft-avatar">
                        <img src="../../assets/images/nft-cards-images/avatar-int.png" alt="collection avatar"/>
                    </div>
                    <h3>ShitPunks</h3>
                    <footer class="nft-card-footer">
                        <span>volume</span>
                        <img src="../../svg/bnb-icon.svg" alt="bnb icon"/>
                        <span>1.836,89922</span>
                    </footer>
                </div>
            </div>
        </a>
    
        <!--CARD 5-->
        <a href="#">
            <div class="card d-flex">
                <div class="nft-card-header">
                    <img class="card-img-top" alt="collection banner" src="../../assets/images/nft-cards-images/banner-bad-boy.webp"/>
                </div>
            
                <div class="nft-card-content">
                    <div class="nft-avatar">
                        <img src="../../assets/images/nft-cards-images/avatar-space.png" alt="collection avatar"/>
                    </div>
                    <h3>BornBadBoy</h3>
                    <footer class="nft-card-footer">
                        <span>volume</span>
                    <img src="../../svg/bnb-icon.svg" alt="bnb icon"/>
                    <span>1.176,8545</span>
                    </footer>
                </div>
            </div>
        </a>
    
        <!--CARD 6-->
        <a href="#">
            <div class="card d-flex">
                <div class="nft-card-header">
                    <img class="card-img-top" alt="collection banner" src="../../assets/images/nft-cards-images/banner-pixel.webp"/>
                </div>
            
                <div class="nft-card-content">
                    <div class="nft-avatar">
                        <img src="../../assets/images/nft-cards-images/avatar-pixel.png" alt="collection avatar"/>
                    </div>
                    <h3>PixelSweeper</h3>
                    <footer class="nft-card-footer">
                        <span>volume</span>
                        <img src="../../svg/bnb-icon.svg" alt="bnb icon"/>
                        <span>1.144,79</span>
                    </footer>
                </div>
            </div>
        </a>
    
    </div>
    <hr>
    
    <div class="card-recent">
        <h3 class="h3-raccolte">Raccolte più recenti</h3>
        <a href="#"><button class="btn-mostra">Mostra tutto ></button></a>
    </div>


<div class="container-last-card">
    <div class="card-last">
        <div class="avatar-img">
        <img class="avatar" src="../../assets/images/nft-cards-images/pancake-squad-4949-1000.png" alt="scimmia fatta" width="310px" height="280px">
    </div>
    <div class="body-card">
        <h4>Pancake Squad</h4>
        <h2>PancakeSquad #4949</h2>
    </div>
    <div class="footer-card">
        <p>Richiesta prezzo</p><p class="">($2.124,62) <img src="../../svg/bnb-icon.svg" alt="cahs-svg" width="17px"> <h3 class="after-cash">7,9</h3></p>
    </div>
    </div>
     <div class="card-last">
        <div class="avatar-img">
        <img class="avatar" src="../../assets/images/nft-cards-images/binion-19-1000.png" alt="scimmia fatta" width="310px" height="280px">
    </div>
    <div class="body-card">
        <h4>Gooodfellas Binions</h4>
        <h2>Binion #19</h2>
    </div>
    <div class="footer-card">
        <p>Richiesta prezzo</p><p class="">($80,68) <img src="../../svg/bnb-icon.svg" alt="cahs-svg" width="17px"> <h3 class="after-cash">0,3</h3></p>
    </div>
    </div>
    <div class="card-last">
        <div class="avatar-img">
        <img class="avatar" src="../../assets/images/nft-cards-images/lil-bulls-1116-1000.png" alt="scimmia fatta" width="310px" height="280px">
    </div>
    <div class="body-card">
        <h4>Lil Bulls</h4>
        <h2>LIL bulls #1116</h2>
    </div>
    <div class="footer-card">
        <p>Richiesta prezzo</p><p class="">($3.223,54) <img src="../../svg/bnb-icon.svg" alt="cahs-svg" width="17px"> <h3 class="after-cash">12</h3></p>
    </div>
    </div>
     <div class="card-last">
        <div class="avatar-img">
        <img class="avatar" src="../../assets/images/nft-cards-images/shit-punk-6271-1000.png" alt="scimmia fatta" width="310px" height="280px">
    </div>
    <div class="body-card">
        <h4>ShitPunks</h4>
        <h2>Shit Punk #6271</h2>
    </div>
    <div class="footer-card">
        <p>Richiesta prezzo</p><p class="">($30,60) <img src="../../svg/bnb-icon.svg" alt="cahs-svg" width="17px"> <h3 class="after-cash">0,114</h3></p>
    </div>
    </div>
    <div class="card-last">
        <div class="avatar-img">
        <img class="avatar" src="../../assets/images/nft-cards-images/horror-ape-club-1938-1000.png" alt="scimmia fatta" width="310px" height="280px">
    </div>
    <div class="body-card">
        <h4>Horror Ape Club</h4>
        <h2>HorrorApeClub #1938</h2>
    </div>
    <div class="footer-card">
        <p>Richiesta prezzo</p><p class="">($40,09) <img src="../../svg/bnb-icon.svg" alt="cahs-svg" width="17px"> <h3 class="after-cash">0,1495</h3></p>
    </div>
    </div>
    <div class="card-last">
        <div class="avatar-img">
        <img class="avatar" src="../../assets/images/nft-cards-images/mental-mouth-hi-fiver-1000.png" alt="scimmia fatta" width="310px" height="280px">
    </div>
    <div class="body-card">
        <h4>Into the HIFI-Verse</h4>
        <h2>Metal Mouth HiFiver</h2>
    </div>
    <div class="footer-card">
        <p>Richiesta prezzo</p><p class="">($109,34) <img src="../../svg/bnb-icon.svg" alt="cahs-svg" width="17px"> <h3 class="after-cash">0,41</h3></p>
    </div>
    </div>
    <div class="card-last">
        <div class="avatar-img">
        <img class="avatar" src="../../assets/images/nft-cards-images/cyber-bear-elite-260-1000.png" alt="scimmia fatta" width="310px" height="280px">
    </div>
    <div class="body-card">
        <h4>CyberBearz Army</h4>
        <h2>CyberBear Elite #260</h2>
    </div>
    <div class="footer-card">
        <p>Richiesta prezzo</p><p class="">($47,07) <img src="../../svg/bnb-icon.svg" alt="cahs-svg" width="17px"> <h3 class="after-cash">0,176</h3></p>
    </div>
    </div>
    <div class="card-last">
        <div class="avatar-img">
        <img class="avatar" src="../../assets/images/nft-cards-images/twinkle-1000.png" alt="scimmia fatta" width="310px" height="280px">
    </div>
    <div class="body-card">
        <h4>Pancke Bunnies</h4>
        <h2>Twinkie </h2>
    </div>
    <div class="footer-card">
        <p>Richiesta prezzo</p><p class="">($3,61) <img src="../../svg/bnb-icon.svg" alt="cahs-svg" width="17px"> <h3 class="after-cash">0,0135</h3></p>
    </div>
    </div>
    <div class="card-last">
        <div class="avatar-img">
        <img class="avatar" src="../../assets/images/nft-cards-images/degen-ape-1820-1000.png" alt="scimmia fatta" width="310px" height="280px">
    </div>
    <div class="body-card">
        <h4>Degen ape club</h4>
        <h2>Degenape #1820</h2>
    </div>
    <div class="footer-card">
        <p>Richiesta prezzo</p><p class="">($37,14) <img src="../../svg/bnb-icon.svg" alt="cahs-svg" width="17px"> <h3 class="after-cash">0,139</h3></p>
    </div>
    </div>
    <div class="card-last">
        <div class="avatar-img">
        <img class="avatar" src="../../assets/images/nft-cards-images/pancake-squad-1710-1000.png" alt="scimmia fatta" width="310px" height="280px">
    </div>
    <div class="body-card">
        <h4>Pancake Squad</h4>
        <h2>Pancake Squad #1710</h2>
    </div>
    <div class="footer-card">
        <p>Richiesta prezzo</p><p class="">($2.401,75) <img src="../../svg/bnb-icon.svg" alt="cahs-svg" width="17px"> <h3 class="after-cash">8,99</h3></p>
    </div>
    </div>
    <div class="card-last">
        <div class="avatar-img">
        <img class="avatar" src="../../assets/images/nft-cards-images/binion-3863-1000.png" alt="scimmia fatta" width="310px" height="280px">
    </div>
    <div class="body-card">
        <h4>Gooodfellas Binions</h4>
        <h2>Binion #3863</h2>
    </div>
    <div class="footer-card">
        <p>Richiesta prezzo</p><p class="">($93,24) <img src="../../svg/bnb-icon.svg" alt="cahs-svg" width="17px"> <h3 class="after-cash">0,35</h3></p>
    </div>
    </div>
    <div class="card-last">
        <div class="avatar-img">
        <img class="avatar" src="../../assets/images/nft-cards-images/binion-27-1000.png" alt="scimmia fatta" width="310px" height="280px">
    </div>
    <div class="body-card">
        <h4>Gooodfellas Binions</h4>
        <h2>Binion #27</h2>
    </div>
    <div class="footer-card">
        <p>Richiesta prezzo</p><p class="">($93,22) <img src="../../svg/bnb-icon.svg" alt="cahs-svg" width="17px"> <h3 class="after-cash">0,35</h3></p>
    </div>
    </div>
    <div class="card-last">
        <div class="avatar-img">
        <img class="avatar" src="../../assets/images/nft-cards-images/pancake-squad-7093-1000.png" alt="scimmia fatta" width="310px" height="280px">
    </div>
    <div class="body-card">
        <h4>PancakeSquad</h4>
        <h2>Pancake Squad #7093</h2>
    </div>
    <div class="footer-card">
        <p>Richiesta prezzo</p><p class="">($2.133,06) <img src="../../svg/bnb-icon.svg" alt="cahs-svg" width="17px"> <h3 class="after-cash">8</h3></p>
    </div>
    </div>
    <div class="card-last">
        <div class="avatar-img">
        <img class="avatar" src="../../assets/images/nft-cards-images/pancake-squad-4538-1000.png" alt="scimmia fatta" width="310px" height="280px">
    </div>
    <div class="body-card">
        <h4>Pancake Squad</h4>
        <h2>Pancake Squad #3592</h2>
    </div>
    <div class="footer-card">
        <p>Richiesta prezzo</p><p class="">($2.264,16) <img src="../../svg/bnb-icon.svg" alt="cahs-svg" width="17px"> <h3 class="after-cash">8,49</h3></p>
    </div>
    </div>
    <div class="card-last">
        <div class="avatar-img">
        <img class="avatar" src="../../assets/images/nft-cards-images/pancake-squad-7777-1000.png" alt="scimmia fatta" width="310px" height="280px">
    </div>
    <div class="body-card">
        <h4>Pancake Squad</h4>
        <h2>Pancake Squad #7777</h2>
    </div>
    <div class="footer-card">
        <p>Richiesta prezzo</p><p class="">($4.800,72) <img src="../../svg/bnb-icon.svg" alt="cahs-svg" width="17px"> <h3 class="after-cash">18</h3></p>
    </div>
    </div>
    <div class="card-last">
        <div class="avatar-img">
        <img class="avatar" src="../../assets/images/nft-cards-images/pancake-squad-7179-1000.png" alt="scimmia fatta" width="310px" height="280px">
    </div>
    <div class="body-card">
        <h4>Pancake Squad</h4>
        <h2>Pancake Squad #7129</h2>
    </div>
    <div class="footer-card">
        <p>Richiesta prezzo</p><p class="">($2.133,36) <img src="../../svg/bnb-icon.svg" alt="cahs-svg" width="17px"> <h3 class="after-cash">8</h3></p>
    </div>
    </div>
</div>
<br>
<div class="total-cont">
<div class="question-container">
    <div class="question-title">
        <h2>Domande frequenti</h2>
    </div>
    <div class="question-box">
        <div class="drop-nft">Ho venduto un NFT, dov'è il mio BNB? <button class="dropdown-onclick">Dettagli </button></div>
        <div class="drop-nft">Come posso quotare la mia raccolta NFT sul mercato?  <button class="dropdown-onclick">Dettagli </button></div>
        <div class="drop-nft">Quali sono le commissioni?  <button class="dropdown-onclick">Dettagli </button></div>
      
    </div>
    <div class="last-link">
    <a href="#">Candidati al mercato NFT</a>
</div>
</div>
</div>
<br>

</body>
</html>
  