<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Limit Orders | PancakeSwap - $4.061</title>
    <link rel="shortcut icon" href="../../svg/light-blue-logo.svg" type="imag/x-icon"/>
    <link rel="stylesheet" href="trade-subpage.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300;600&family=Oswald:wght@300;600&display=swap" rel="stylesheet">
</head>
<body class="body-trade-page">
   
        <!--SUBMENU COMUNE-->
        <div class="trade-navbar-container">
            <nav class="trade-navbar">
                <div class="trade-item">
                    <div class="trade-link link-highlighted">Swap</div>
                </div>
                <div class="trade-item">
                    <!-- ; this.onclick=null; PER FAR FUNZIONARE ONCLICK SOLO UNA VOLTA-->
                    <div onclick="toggleTradeCards(); this.onclick=null" class="trade-link">Limit</div>
                </div>
                <div class="trade-item">
                    <div class="trade-link">Liquidity</div>
                </div>
                <div class="trade-item">
                    <div class="trade-link">Perpetual</div>
                </div>
            </nav>
        </div>

        <div class="complete-trade-card-wrapper">
            <!--CARD WITH GRAPH INSIDE -->
            <section class="card-graph-container">
                <header>
                    <button class="close-btn hover-active-class">
                        <picture>
                            <source class="expand-btn" media="(min-width: 576px)" srcset="../../svg/expand-icon.svg" alt="edxpand arrows"/>
                            <img src="../../svg/close-icon.svg" alt="close icon"/>
                        </picture>
                    </button>

                    <div class="mkt-icons-container">
                        <div>
                            <img class="company-icons" src="../../svg/bnb-icon.svg" alt="yellow icon"/>
                        </div>
                        <div>
                            <img class="company-icons" src="../../svg/light-blue-logo.svg" alt="pancakeswap icon"/>
                        </div>
                        <span class="coin-comparison-title">bnb/cake</span>
                        <button class="hover-active-class">
                            <img class="arrow-img company-icons" src="../../svg/exchange-icon.svg" alt="exchange arrows"/>
                        </button>
                        <button class="hover-active-class">
                            <img src="../../svg/graph-icon.svg" alt="small graph icon"/>
                        </button>
                    </div>
                </header>

                <div class="values-content">
                    <div class="mkt-value-updates">
                    <h2 class="numeric-value">76.13</h2>
                    <h3 class="coin-comparison-title">bnb/cake</h3>
                    <h3 class="percentage">+0.218 (0.29%)</h3>
                </div>

                <div class="date">
                    <span>Jul 26, 2022, 11:05 AM</span> <!--da modificare con js-->
                </div>

                <div class="timeframes">
                    <button>24H</button>
                    <button>1W</button>
                    <button>1M</button>
                    <button>1Y</button>
                </div>

                <div class="graphic">
                    <div class="graph-data"></div>
                </div>
            </section>


    
            <!-- CARD SWAP-->
            <section id="trade-card-container-swap">
                <header class="trade-header">
                    <div class="trade-icons">
                        <div class="trade-item">
                            <button class="hover-active-class">
                                <img src="../../svg/hide-graph-icon.svg" alt="hidden graph icon"/>
                            </button>
                        </div>

                        <div class="trade-item-2 trade-item-2-swap">
                            <h2>Swap</h2>
                        </div>
                        <div class="trade-icons-right">
                            <button>
                                <img class="company-icons hover-active-class" src="../../svg/settings-button.svg" alt="setting icon"/>
                            </button>
                            <button>
                                <img class="company-icons hover-active-class" src="../../svg/clock.svg" alt="reload clock icon"/>
                            </button>
                            <button>
                                <img class="company-icons hover-active-class" src="../../svg/loop.svg" alt="reload icon"/>
                            </button>
                        </div>
                    </div>
                    <h3>Trade Tokens in an instant</h3>
                </header>

                <div class="trade-card-content">
                    <div class="trade-info">
                        <div class="currency-select-container">
                            <button class="currency-select hover-active-class">
                                <img class="company-icons"src="../../svg/bnb-icon.svg" alt="bnb icon"/>
                                <span>bnb</span>
                                <img src="../../svg/down-arrow.svg" alt="select arrow"/>
                            </button>
                        </div>
                    
                        <div class="currency-insert">
                            <input type="text" pattern="^[0-9]*[.,]?[0-9]*$" name="currency-value" inputmode="decimal"
                            placeholder="0.0" minlenght="1" maxlenght="79"/>
                        </div>

                        <button class="value-conversion hover-active-class"></button>

                        <div class="currency-select-container">
                            <button class="currency-select hover-active-class">
                                <img class="company-icons" src="../../svg/light-blue-logo.svg" alt="pancake-swap icon"/>
                                <span>cake</span>
                                <img src="../../svg/down-arrow.svg" alt="select arrow"/>
                            </button>
                            <img class="copy-btn" src="../../svg/copy.svg" alt="copy button"/>
                        </div>          
            
                        <div class="currency-insert">
                            <input type="text" pattern="^[0-9]*[.,]?[0-9]*$" name="currency-value" inputmode="decimal"
                            placeholder="0.0" minlenght="1" maxlenght="79"/>
                        </div>
                        
                        <div class="tolerance">
                            <span>Slipping tolerance</span>
                            <span>0.5%</span>
                        </div>
                    </div>
                    <button class="connect-wallet hover-active-class">Connect Wallet</button>
            
                </div>
            </section>

            <!-- CARD LIMIT INIZIALMENTE NASCOSTA-->
            <section id="trade-card-container-limit">
                <header class="trade-header">
                    <div class="trade-icons">
                        <div class="trade-item">
                            <button class="hover-active-class">
                                <img src="../../svg/hide-graph-icon.svg" alt="hidden graph icon"/>
                            </button>
                        </div>

                        <div class="trade-item-2">
                            <h2>Limit</h2>
                        </div>

                        <div class="trade-icons-right">
                            
                            <button>
                                <img class="company-icons hover-active-class" src="../../svg/clock.svg" alt="reload clock icon"/>
                            </button>
                            
                        </div>
                    </div>
                    <h3>Place a limit order to trade at a set price</h3>
                </header>

                <div class="trade-card-content">
                    <div class="trade-info">
                        <div class="currency-select-container">
                            <button class="currency-select hover-active-class">
                                <img class="company-icons"src="../../svg/bnb-icon.svg" alt="bnb icon"/>
                                <span>bnb</span>
                                <img src="../../svg/down-arrow.svg" alt="select arrow"/>
                            </button>
                        </div>
                    
                        <div class="currency-insert">
                            <input type="text" pattern="^[0-9]*[.,]?[0-9]*$" name="currency-value" inputmode="decimal"
                            placeholder="0.0" minlenght="1" maxlenght="79"/>
                        </div>

                        <button class="value-conversion hover-active-class"></button>

                        <div class="currency-select-container">
                            <button class="currency-select hover-active-class">
                                <img class="company-icons" src="../../svg/light-blue-logo.svg" alt="pancake-swap icon"/>
                                <span>cake</span>
                                <img src="../../svg/down-arrow.svg" alt="select arrow"/>
                            </button>
                            <img class="copy-btn" src="../../svg/copy.svg" alt="copy button"/>
                        </div>          
            
                        <div class="currency-insert">
                            <input type="text" pattern="^[0-9]*[.,]?[0-9]*$" name="currency-value" inputmode="decimal"
                            placeholder="0.0" minlenght="1" maxlenght="79"/>
                        </div>
                        
                        <div class="tolerance">
                            <span>Slipping tolerance</span>
                            <span>0.5%</span>
                        </div>
                    </div>
                    <button class="connect-wallet hover-active-class">Connect Wallet</button>
            
                </div>
            </section>

            <!--FOOTER WITH BUTTON AND HELP BUNNY-->
            <section class="trade-page-footer">

                <div class="version-conversion">
                    <div class="version-button">
                        <button class="v2-link">V2</button>
                        <a class="v1-link" href="#">V1 (old)</a>
                    </div>

                    <div class="conversion-link">
                        <a href="#">Convert ERC-20 to BEP-20</a>
                        <img src="../../svg/go-to.svg"/>
                    </div>
                </div>

                <div class="trade-help-box">
                    <div class="trade-bubble-container">
                        <a href="#">Need help?</a>
                        <img src="../../svg/bubble-tail.svg"/>
                    </div>
                    <div class="trade-help-bunny">
                        <img src="../../assets/images/subpages-images/help-bunny.png" alt="pancakeswap bunny cooking pancakes"/>
                    </div>
                </div>
            </section>

        </div>
<script src="../../logic/trade-cards-switch.js"></script>  
</body>
</html>