* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}

body {
  overflow-x: hidden;
  width: 100vw;
}

button:hover {
  opacity: 75%;
}

.hero-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding-top: 100px;
}
.hero-content .background-hero {
  background-color: rgb(230, 254, 255);
  position: absolute;
  width: 100vw;
  top: 0;
  height: 700px;
  z-index: -1;
}
.hero-content .main-banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 75%;
  position: relative;
}
.hero-content .main-banner-container .main-banner-sub-container {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgb(128, 81, 214) 0%, rgb(73, 34, 134) 100%);
  height: 218px;
  width: 100%;
  padding: 24px;
  border-radius: 24px;
  position: relative;
}
.hero-content .main-banner-container .main-banner-sub-container .main-banner-content-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  z-index: 1;
}
.hero-content .main-banner-container .main-banner-sub-container .main-banner-content-container .main-banner-title {
  color: white;
  font-family: Kanit, sans-serif;
}
.hero-content .main-banner-container .main-banner-sub-container .main-banner-content-container .mbt-a1 {
  font-size: 24px;
  background: linear-gradient(rgb(255, 216, 0), rgb(235, 140, 0));
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text; /*controllare quale usare, forse vanno messi entrambi, sia con sia senza il prefisso WEBKIT*/
  margin-bottom: 8px;
}
.hero-content .main-banner-container .main-banner-sub-container .main-banner-content-container .mbt-a2 {
  font-size: 40px;
  margin-bottom: 16px;
  text-shadow: rgba(0, 0, 0, 0.35) 0px 4px 3px;
}
.hero-content .main-banner-container .main-banner-sub-container .main-banner-content-container .link-aquagreen {
  text-decoration: none;
}
.hero-content .main-banner-container .main-banner-sub-container .main-banner-content-container .link-aquagreen .main-banner-button-a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 48px;
  color: white;
  background-color: rgb(31, 199, 212);
  border: none;
  border-radius: 16px;
  font-size: 16px;
  font-weight: 600;
  box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px;
}
.hero-content .main-banner-container .main-banner-sub-container .main-banner-content-container .link-aquagreen .main-banner-button-a .mbb-svg-a {
  fill: white;
  align-self: center;
}
.hero-content .main-banner-container .main-banner-sub-container .swiper-slide {
  background-color: transparent;
  width: 100px;
  height: 8px;
  background-color: rgba(186, 235, 74, 0.174);
  border-radius: 10px;
  position: absolute;
  bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-content .main-banner-container .main-banner-sub-container .swiper-slide .swiper {
  width: 50%;
  height: 8px;
  background-color: white;
}
.hero-content .main-banner-container .main-banner-sub-container .swiper-slide .swpr-a {
  z-index: 1;
  visibility: initial;
}
.hero-content .main-banner-container .main-banner-sub-container .swiper-slide .swpr-b {
  z-index: 1;
  visibility: hidden;
}
.hero-content .main-banner-container .main-banner-sub-container .bunny-container-a {
  height: 263px;
  position: absolute;
  border-radius: 24px;
  bottom: 0;
  right: 0;
}
.hero-content .main-banner-container .main-banner-sub-container .bunny-container-a img {
  min-width: 100%;
  max-width: 100%;
  height: 100%;
}
.hero-content .main-banner-container .main-banner-sub-container .bunny-container-a-mobile {
  display: none;
}
.hero-content .hero-container {
  margin-top: 70px;
  width: 77%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: relative;
}
.hero-content .hero-container .container-1 {
  width: 50%;
  height: 280.8;
}
.hero-content .hero-container .container-1 .h2-hero {
  line-height: 1;
  font-size: 64px;
  color: rgb(118, 69, 217);
  margin-bottom: 20px;
}
.hero-content .hero-container .container-1 .h3-hero {
  margin-bottom: 20px;
  font-size: 20px;
  color: rgb(40, 13, 95);
}
.hero-content .hero-container .container-1 .connect-wallet {
  width: 160px;
  height: 48px;
  color: white;
  background-color: rgb(31, 199, 212);
  border: none;
  border-radius: 16px;
  font-size: 16px;
  font-weight: 600;
  box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px;
  margin-right: 5px;
}
.hero-content .hero-container .container-1 .trade-now {
  width: 130px;
  height: 48px;
  font-size: 16px;
  font-weight: 600;
  color: rgb(31, 199, 212);
  background-color: transparent;
  border: 2px solid rgb(31, 199, 212);
  border-radius: 16px;
  font-size: 16px;
}
.hero-content .hero-container .container-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 280.8;
}
.hero-content .hero-container .container-2 .bunny-container {
  width: 90%;
  margin-bottom: -50px;
}
.hero-content .hero-container .container-2 .bunny-container img {
  width: 100%;
}
.hero-content .hero-container .svg-border {
  margin-top: 150px;
  position: absolute;
  width: 100vw;
  background-color: rgb(230, 254, 255);
  z-index: -1;
}

.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.main-content .background-content-1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 980px;
  background: linear-gradient(white, rgba(118, 69, 217, 0.3));
  z-index: -1;
}
.main-content .background-content-1 .container-1 {
  padding: 57px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin-top: 150px;
}
.main-content .background-content-1 .container-1 svg {
  margin-bottom: 25px;
}
.main-content .background-content-1 .container-1 h2 {
  color: rgb(40, 13, 95);
  line-height: 1.1;
  font-size: 45px;
  text-align: center;
  margin-bottom: 30px;
}
.main-content .background-content-1 .container-1 h4 {
  line-height: 1.5;
  color: rgb(122, 110, 170);
  font-size: 18px;
  font-weight: lighter;
  margin-bottom: 25px;
  text-align: center;
}
.main-content .background-content-1 .container-1 h3 {
  color: rgb(122, 110, 170);
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.main-content .background-content-1 .cards-section1 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
  height: 350px;
}
.main-content .background-content-1 .cards-section1 .card-section1 {
  width: 300px;
  height: 300px;
  background-color: white;
  border-radius: 24px;
  border: 1px solid rgb(231, 227, 235);
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-family: "Kanit", sans-serif;
  position: relative;
}
.main-content .background-content-1 .cards-section1 .card-section1 .svg {
  width: 36px;
  position: absolute;
  right: 20px;
  top: 30px;
}
.main-content .background-content-1 .cards-section1 .card-section1 .svg .svg1 {
  fill: rgb(118, 69, 217);
}
.main-content .background-content-1 .cards-section1 .card-section1 h2 {
  font-size: 43px;
  color: rgb(40, 13, 95);
}
.main-content .background-content-1 .cards-section1 .card-section1 h2:nth-child(2) {
  color: rgb(118, 69, 217);
  position: relative;
  bottom: 15px;
}
.main-content .background-content-1 .cards-section1 .card-section1 p {
  font-size: 16px;
  color: rgb(122, 110, 170);
}
.main-content .background-content-1 .card-section1.green h2:nth-child(2) {
  color: rgb(31, 199, 212);
}
.main-content .background-content-1 .card-section1.green svg {
  fill: rgb(31, 199, 212);
}
.main-content .background-content-1 .card-section1.red h2:nth-child(2) {
  color: rgb(237, 75, 158);
}
.main-content .background-content-1 .card-section1.red svg {
  fill: rgb(237, 75, 158);
}
.main-content .svg-border {
  fill: rgba(118, 69, 217, 0.3);
  width: 100vw;
}
.main-content .background-content-2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 650px;
}
.main-content .background-content-2 .container-2 {
  display: flex;
  justify-content: center;
  padding-top: 150px;
  padding: 20px;
  width: 1350px;
  height: 550px;
}
.main-content .background-content-2 .container-2 .container-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 500px;
}
.main-content .background-content-2 .container-2 .container-text span {
  color: rgb(118, 69, 217);
}
.main-content .background-content-2 .container-2 .container-text h2 {
  color: rgb(40, 13, 95);
  line-height: 1.1;
  font-size: 45px;
}
.main-content .background-content-2 .container-2 .container-text h4 {
  line-height: 1.3;
  color: rgb(122, 110, 170);
  font-size: 18px;
  font-weight: lighter;
  margin-top: 30px;
}
.main-content .background-content-2 .container-2 .container-text button {
  margin-top: 30px;
  width: 140px;
  height: 48px;
  color: white;
  background-color: rgb(31, 199, 212);
  border: none;
  border-radius: 16px;
  font-size: 18px;
  font-weight: 600;
  box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px;
}
.main-content .background-content-2 .container-2 .container-text a {
  font-weight: 600;
  color: rgb(31, 199, 212);
  font-size: 18px;
  margin-left: 10px;
  text-decoration: none;
}
.main-content .background-content-2 .container-2 .container-text a:hover {
  text-decoration: underline;
}
.main-content .background-content-2 .container-2 .img-container {
  width: 500px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main-content .background-content-2 .container-2 .img-container img {
  position: absolute;
  width: 95%;
}
.main-content .background-content-3 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 550px;
  background-color: rgba(122, 110, 170, 0.1);
}
.main-content .background-content-3 .svg-border-grey {
  fill: rgb(255, 255, 255);
  width: 100vw;
  position: absolute;
  top: 0;
}
.main-content .background-content-3 .container-3 {
  display: flex;
  justify-content: center;
  padding: 20px;
  width: 1350px;
  height: 500px;
  flex-direction: row-reverse;
  gap: 5%;
  margin-top: 100px;
}
.main-content .background-content-3 .container-3 .container-text {
  justify-content: center;
  width: 500px;
  display: flex;
  flex-direction: column;
}
.main-content .background-content-3 .container-3 .container-text span {
  color: rgb(118, 69, 217);
}
.main-content .background-content-3 .container-3 .container-text h2 {
  color: rgb(40, 13, 95);
  line-height: 1.3;
  font-size: 45px;
}
.main-content .background-content-3 .container-3 .container-text h4 {
  color: rgb(122, 110, 170);
  font-size: 18px;
  font-weight: lighter;
  margin-top: 30px;
}
.main-content .background-content-3 .container-3 .container-text button {
  margin-top: 30px;
  width: 115px;
  height: 48px;
  color: white;
  background-color: rgb(31, 199, 212);
  border: none;
  border-radius: 16px;
  font-size: 18px;
  font-weight: 600;
  box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px;
}
.main-content .background-content-3 .container-3 .container-text a {
  font-weight: 600;
  color: rgb(31, 199, 212);
  font-size: 18px;
  margin-left: 10px;
  text-decoration: none;
}
.main-content .background-content-3 .container-3 .container-text a:hover {
  text-decoration: underline;
}
.main-content .background-content-3 .container-3 .img-container {
  width: 500px;
  position: relative;
  display: flex;
  flex-direction: row;
}
.main-content .background-content-3 .container-3 .img-container img {
  position: absolute;
  width: 100%;
}
.main-content .background-content-data {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgba(122, 110, 170, 0.1);
}
.main-content .background-content-data .container-data {
  margin: 55px;
  width: 80%;
  height: 170px;
}
.main-content .background-content-data .container-data .title {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main-content .background-content-data .container-data .title button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  margin-top: 15px;
  margin-left: 20px;
}
.main-content .background-content-data .container-data span {
  font-size: 23px;
  color: rgb(118, 69, 217);
}
.main-content .background-content-data .container-data h2 {
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 23px;
  color: rgb(40, 13, 95);
}
.main-content .background-content-data .container-data .group {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main-content .background-content-data .container-data .group .group-border {
  border-left: 1px solid rgba(118, 69, 217, 0.35);
  padding-left: 20px;
}
.main-content .background-content-data .container-data .group h2 {
  font-size: 13px;
  color: rgb(118, 69, 217);
}
.main-content .background-content-data .container-data .group h3 {
  font-size: 13px;
  color: rgb(40, 13, 95);
}
.main-content .background-content-data .container-data .group h4 {
  font-size: 18px;
  color: rgb(122, 110, 170);
  font-weight: lighter;
}

.container-5 {
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 968px;
  background: linear-gradient(rgb(111, 182, 241) 0%, rgb(234, 242, 246) 100%);
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
}
.container-5 picture.balls img {
  position: absolute;
  top: -95px;
  right: 0px;
  width: 192px;
  height: 192px;
}
.container-5 picture.cards img {
  position: absolute;
  width: 192px;
  height: 192px;
  bottom: -330px;
}
.container-5 .box-wrapper {
  background: rgba(255, 255, 255, 0.6);
  padding: 16px;
  border: 1px solid rgb(231, 227, 235);
  box-sizing: border-box;
  backdrop-filter: blur(12px);
  border-radius: 72px;
  width: 90%;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;
  gap: 40px;
}
.container-5 .box-wrapper .box-prizes {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.container-5 .box-wrapper .box-prizes h2 {
  font-size: 32px;
  color: rgb(40, 13, 95);
}
.container-5 .box-wrapper .box-prizes h2 span {
  color: rgb(118, 69, 217);
}
.container-5 .box-wrapper .box-prizes p {
  color: rgb(122, 110, 170);
  font-size: 16px;
  text-align: center;
}

.card-section1.green h2:nth-child(2) {
  color: rgb(31, 199, 212);
}
.card-section1.green svg {
  fill: rgb(31, 199, 212);
}

.card-section1.red h2:nth-child(2) {
  color: rgb(237, 75, 158);
}
.card-section1.red svg {
  fill: rgb(237, 75, 158);
}

.millions-in-prizes-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.millions-in-prizes-cards .card-million {
  width: 273px;
  height: 355px;
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  padding: 24px;
  font-family: "Kanit", sans-serif;
  position: relative;
  justify-content: space-evenly;
}
.millions-in-prizes-cards .card-million p:nth-child(1) {
  position: relative;
  top: 20px;
}
.millions-in-prizes-cards .card-million p:nth-child(3) {
  position: relative;
  bottom: 15px;
}
.millions-in-prizes-cards .card-million button {
  width: 225px;
  height: 48px;
  background-color: rgb(31, 199, 212);
  border: 0;
  border-radius: 16px;
  box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
  color: rgb(255, 255, 255);
  font-weight: 600;
  line-height: 1.5;
  font-family: "Kanit", sans-serif;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.millions-in-prizes-cards .card-million button svg {
  fill: white;
  margin-left: 4px;
}
.millions-in-prizes-cards .card-million button:hover {
  opacity: 0.65;
}
.millions-in-prizes-cards .card-million p {
  font-size: 16px;
}
.millions-in-prizes-cards .card-million h2 {
  font-size: 40px;
}
.millions-in-prizes-cards .card-million span {
  font-size: 40px;
  font-weight: 600;
}
.millions-in-prizes-cards .card-million .svg {
  position: absolute;
  top: 24px;
  right: 24px;
}

.yellow {
  background-color: rgb(255, 178, 55);
  color: rgb(40, 13, 95);
  background: linear-gradient(rgb(255, 178, 55) 0%, rgb(255, 205, 81) 51.17%, rgb(255, 231, 106) 100%);
  box-shadow: 1px 3px rgb(255, 178, 55);
}

.purple {
  background: linear-gradient(rgb(118, 69, 217) 0%, rgb(81, 33, 177) 100%);
  color: white;
  box-shadow: 1px 3px black;
}
.purple span {
  color: rgb(253, 171, 50);
}
.purple svg {
  fill: white;
}

section.container-6 {
  background: rgb(250, 249, 250);
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  align-items: center;
}
section.container-6 .wrapper-6 {
  display: flex;
  flex-direction: column;
}
section.container-6 .wrapper-6 .top-6 {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
section.container-6 .wrapper-6 .top-6 picture {
  width: 192px;
  height: 192px;
  position: relative;
  align-self: flex-end;
}
section.container-6 .wrapper-6 .top-6 picture img {
  position: absolute;
  width: 192px;
  height: 192px;
  right: 10px;
  margin-top: 60px;
}
section.container-6 .wrapper-6 .top-6 .box-cake {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}
section.container-6 .wrapper-6 .top-6 .box-cake h2 {
  font-size: 32px;
  color: rgb(40, 13, 95);
  line-height: 1.1;
}
section.container-6 .wrapper-6 .top-6 .box-cake span {
  font-size: 32px;
  color: rgb(118, 69, 217);
}
section.container-6 .wrapper-6 .top-6 .box-cake p {
  font-size: 16px;
  color: rgb(122, 110, 170);
}
section.container-6 .wrapper-6 .top-6 .cake-buttons {
  display: flex;
  align-items: center;
}
section.container-6 .wrapper-6 .top-6 .cake-buttons button {
  width: 125px;
  height: 48px;
  background-color: rgb(31, 199, 212);
  border: 0px;
  border-radius: 16px;
  color: white;
  font-size: 16px;
  box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
  cursor: pointer;
  padding: 0px 24px;
  transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
  margin-right: 16px;
  font-weight: 600;
}
section.container-6 .wrapper-6 .top-6 .cake-buttons button:hover {
  opacity: 0.65;
}
section.container-6 .wrapper-6 .top-6 .cake-buttons a {
  text-decoration: none;
  color: rgb(31, 199, 212);
  font-weight: 600;
  line-height: 1.5;
  cursor: pointer;
}
section.container-6 .wrapper-6 .top-6 .cake-buttons a:hover {
  text-decoration: underline;
}
section.container-6 .box-data {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-areas: "a d" "b e" "c f";
  gap: 16px 8px;
  align-self: stretch;
  padding: 0 20px 60px 20px;
}
section.container-6 .box-data p {
  font-size: 16px;
  color: rgb(122, 110, 170);
}
section.container-6 .box-data span {
  font-size: 24px;
  color: rgb(40, 13, 95);
  font-weight: 600;
  line-height: 1.1;
}
section.container-6 .box-data .circulating-supply {
  grid-area: a;
}
section.container-6 .box-data .market-cap {
  grid-area: d;
  border-left: 1px solid rgb(215, 202, 236);
  padding: 0px 8px;
}
section.container-6 .box-data .total-supply {
  grid-area: b;
}
section.container-6 .box-data .burned-to-date {
  grid-area: e;
  border-left: 1px solid rgb(215, 202, 236);
  padding: 0px 8px;
}
section.container-6 .box-data .max-supply {
  grid-area: c;
}
section.container-6 .box-data .current-emissions {
  grid-area: f;
  border-left: 1px solid rgb(215, 202, 236);
  padding: 0px 8px;
}

.container-7 {
  background: linear-gradient(rgb(118, 69, 217) 0%, rgb(81, 33, 177) 100%);
  width: 100%;
}
.container-7 picture.left {
  display: none;
}
.container-7 picture.right {
  display: none;
}
.container-7 .wrapper-7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px;
  gap: 20px;
}
.container-7 .wrapper-7 h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.1;
  color: white;
}
.container-7 .wrapper-7 .text-7 {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: white;
}
.container-7 .wrapper-7 .text-7 span {
  font-weight: 600;
}
.container-7 .wrapper-7 a {
  color: rgb(31, 199, 212);
  text-decoration: none;
  font-weight: 600;
}
.container-7 .wrapper-7 a:hover {
  text-decoration: underline;
}
.container-7 .wrapper-7 button {
  font-size: 16px;
  padding: 0px 24px;
  cursor: pointer;
  border: 0px;
  border-radius: 16px;
  background-color: rgb(31, 199, 212);
  color: white;
  height: 48px;
  box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
  letter-spacing: 0.03em;
  font-weight: 600;
}
.container-7 .wrapper-7 button:hover {
  opacity: 0.65;
}

@media screen and (max-width: 1050px) and (min-width: 859px) {
  body .main-content .background-content-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 980px;
    background: linear-gradient(white, rgba(118, 69, 217, 0.3));
    z-index: -1;
  }
  body .main-content .background-content-1 .cards-section1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
  }
  body .main-content .background-content-1 .cards-section1 .card-section1 {
    width: 263px;
    height: 263px;
    background-color: white;
    border-radius: 24px;
    border: 1px solid rgb(231, 227, 235);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: "Kanit", sans-serif;
    position: relative;
  }
  body .main-content .background-content-1 .cards-section1 .card-section1 h2 {
    font-size: 35px;
    color: rgb(40, 13, 95);
  }
  body .main-content .background-content-1 .cards-section1 .card-section1 h2:nth-child(2) {
    color: rgb(118, 69, 217);
    position: relative;
    bottom: 15px;
  }
  body .main-content .background-content-2 .container-2 {
    display: flex;
    justify-content: center;
    padding-top: 150px;
    padding: 20px;
    width: 95vw;
    height: 580px;
  }
  body .main-content .background-content-3 .container-3 {
    display: flex;
    justify-content: center;
    padding-top: 150px;
    padding: 20px;
    width: 95vw;
    height: 580px;
  }
}
@media screen and (max-width: 858px) and (min-width: 426px) {
  body .hero-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
  body .hero-content .main-banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    position: relative;
  }
  body .hero-content .main-banner-container .main-banner-sub-container {
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(128, 81, 214) 0%, rgb(73, 34, 134) 100%);
    height: 220px;
    width: 100%;
    padding: 24px;
    border-radius: 24px;
    position: relative;
  }
  body .hero-content .main-banner-container .main-banner-sub-container .main-banner-content-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    z-index: 1;
  }
  body .hero-content .main-banner-container .main-banner-sub-container .main-banner-content-container .main-banner-title {
    color: white;
    font-family: Kanit, sans-serif;
  }
  body .hero-content .main-banner-container .main-banner-sub-container .main-banner-content-container .mbt-a1 {
    font-size: 24px;
    background: linear-gradient(rgb(255, 216, 0), rgb(235, 140, 0));
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text; /*controllare quale usare, forse vanno messi entrambi, sia con sia senza il prefisso WEBKIT*/
    margin-bottom: 8px;
  }
  body .hero-content .main-banner-container .main-banner-sub-container .main-banner-content-container .mbt-a2 {
    font-size: 25px;
    margin-bottom: 16px;
    text-shadow: rgba(0, 0, 0, 0.35) 0px 4px 3px;
  }
  body .hero-content .main-banner-container .main-banner-sub-container .main-banner-content-container .main-banner-button-a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 48px;
    color: white;
    background-color: rgb(31, 199, 212);
    border: none;
    border-radius: 16px;
    font-family: inherit;
    font-size: 16px;
    box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px;
  }
  body .hero-content .main-banner-container .main-banner-sub-container .main-banner-content-container .main-banner-button-a .mbb-svg-a {
    align-self: center;
  }
  body .hero-content .main-banner-container .main-banner-sub-container .swiper-slide {
    background-color: transparent;
    width: 100px;
    height: 8px;
    background-color: rgba(186, 235, 74, 0.174);
    border-radius: 10px;
    position: absolute;
    bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body .hero-content .main-banner-container .main-banner-sub-container .swiper-slide .swiper {
    width: 50%;
    height: 8px;
    background-color: white;
  }
  body .hero-content .main-banner-container .main-banner-sub-container .swiper-slide .swpr-a {
    visibility: initial;
  }
  body .hero-content .main-banner-container .main-banner-sub-container .swiper-slide .swpr-b {
    visibility: hidden;
  }
  body .hero-content .main-banner-container .main-banner-sub-container .bunny-container-a-desktop {
    display: none;
  }
  body .hero-content .main-banner-container .main-banner-sub-container .bunny-container-a-mobile {
    height: 253px;
    display: block;
  }
  body .hero-content .hero-container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
  }
  body .hero-content .hero-container .container-1 {
    width: 100%;
    height: 280.8;
  }
  body .hero-content .hero-container .container-1 .h2-hero {
    line-height: 1;
    font-size: 50px;
    color: rgb(118, 69, 217);
    margin-bottom: 20px;
  }
  body .hero-content .hero-container .container-1 .h3-hero {
    margin-bottom: 20px;
    font-size: 20px;
    color: rgb(40, 13, 95);
  }
  body .hero-content .hero-container .container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 280.8;
  }
  body .hero-content .hero-container .container-2 .bunny-container {
    width: 100%;
    margin-bottom: 0px;
    display: flex;
    justify-content: flex-end;
  }
  body .hero-content .hero-container .container-2 .bunny-container img {
    width: 220px;
  }
  body .main-content .background-content-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 1300px;
    background: linear-gradient(white, rgba(118, 69, 217, 0.3));
    z-index: -1;
  }
  body .main-content .background-content-1 .cards-section1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 600px;
  }
  body .main-content .background-content-1 .cards-section1 .card-section1 {
    width: 300px;
    height: 166px;
    background-color: white;
    border-radius: 24px;
    border: 1px solid rgb(231, 227, 235);
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: "Kanit", sans-serif;
    position: relative;
  }
  body .main-content .background-content-1 .cards-section1 .card-section1 h2 {
    font-size: 35px;
    color: rgb(40, 13, 95);
  }
  body .main-content .background-content-1 .cards-section1 .card-section1 h2:nth-child(2) {
    color: rgb(118, 69, 217);
    position: relative;
    bottom: 15px;
  }
  body .main-content .background-content-2 .container-2 {
    margin-top: 30px;
    margin-bottom: 70px;
    height: fit-content;
    flex-direction: column-reverse;
    width: 100%;
    padding: 20px;
  }
  body .main-content .background-content-2 .container-2 .container-text {
    padding: 0;
    padding-left: 20px;
    width: 90vw;
    height: fit-content;
  }
  body .main-content .background-content-2 .container-2 .container-text h2 {
    font-size: 33px;
  }
  body .main-content .background-content-2 .container-2 .container-text h4 {
    font-size: 17px;
  }
  body .main-content .background-content-2 .container-2 .img-container {
    height: 220px;
    width: 100%;
  }
  body .main-content .background-content-2 .container-2 .img-container img {
    right: 0;
    width: 220px;
  }
  body .main-content .background-content-3 .container-3 {
    height: fit-content;
    flex-direction: column-reverse;
    width: 100%;
    padding: 20px;
  }
  body .main-content .background-content-3 .container-3 .container-text {
    padding: 0;
    padding-left: 15px;
    width: 90vw;
    height: fit-content;
  }
  body .main-content .background-content-3 .container-3 .container-text h2 {
    font-size: 33px;
  }
  body .main-content .background-content-3 .container-3 .container-text h4 {
    font-size: 17px;
  }
  body .main-content .background-content-3 .container-3 .img-container {
    height: 220px;
    width: 100%;
  }
  body .main-content .background-content-3 .container-3 .img-container img {
    right: 0;
    width: 220px;
  }
  body .main-content .background-content-data {
    display: unset;
    height: 420px;
    background-color: rgba(122, 110, 170, 0.1);
  }
  body .main-content .background-content-data .container-data {
    margin-top: 50px;
  }
  body .main-content .background-content-data .container-data .group {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  body .main-content .background-content-data .container-data .group .group-border {
    border: none;
    padding-left: 0;
  }
  body .main-content .background-content-data .container-data .group .fourth {
    grid-column: 1;
    grid-row: 3;
  }
  body .main-content .background-content-data .container-data .group .fifth {
    grid-column: 2;
    grid-row: 3;
  }
}
@media screen and (max-width: 425px) and (min-width: 376px) {
  body .hero-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
  body .hero-content .main-banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    position: relative;
  }
  body .hero-content .main-banner-container .main-banner-sub-container {
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(128, 81, 214) 0%, rgb(73, 34, 134) 100%);
    height: 220px;
    width: 100%;
    padding: 24px;
    border-radius: 24px;
    position: relative;
  }
  body .hero-content .main-banner-container .main-banner-sub-container .main-banner-content-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    z-index: 1;
  }
  body .hero-content .main-banner-container .main-banner-sub-container .main-banner-content-container .main-banner-title {
    color: white;
    font-family: Kanit, sans-serif;
  }
  body .hero-content .main-banner-container .main-banner-sub-container .main-banner-content-container .mbt-a1 {
    font-size: 19px;
    background: linear-gradient(rgb(255, 216, 0), rgb(235, 140, 0));
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text; /*controllare quale usare, forse vanno messi entrambi, sia con sia senza il prefisso WEBKIT*/
    margin-bottom: 8px;
  }
  body .hero-content .main-banner-container .main-banner-sub-container .main-banner-content-container .mbt-a2 {
    font-size: 20px;
    margin-bottom: 16px;
    text-shadow: rgba(0, 0, 0, 0.35) 0px 4px 3px;
  }
  body .hero-content .main-banner-container .main-banner-sub-container .main-banner-content-container .main-banner-button-a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 48px;
    color: white;
    background-color: rgb(31, 199, 212);
    border: none;
    border-radius: 16px;
    font-family: inherit;
    font-size: 16px;
    box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px;
  }
  body .hero-content .main-banner-container .main-banner-sub-container .main-banner-content-container .main-banner-button-a .mbb-svg-a {
    align-self: center;
  }
  body .hero-content .main-banner-container .main-banner-sub-container .swiper-slide {
    background-color: transparent;
    width: 100px;
    height: 8px;
    background-color: rgba(186, 235, 74, 0.174);
    border-radius: 10px;
    position: absolute;
    bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body .hero-content .main-banner-container .main-banner-sub-container .swiper-slide .swiper {
    width: 50%;
    height: 8px;
    background-color: white;
  }
  body .hero-content .main-banner-container .main-banner-sub-container .swiper-slide .swpr-a {
    visibility: initial;
  }
  body .hero-content .main-banner-container .main-banner-sub-container .swiper-slide .swpr-b {
    visibility: hidden;
  }
  body .hero-content .main-banner-container .main-banner-sub-container .bunny-container-a {
    width: 30%;
    height: 121%;
    position: absolute;
    border-radius: 24px;
    bottom: 0;
    right: 0;
    z-index: 0;
  }
  body .hero-content .main-banner-container .main-banner-sub-container .bunny-container-a img {
    min-width: 100%;
    max-width: 100%;
    height: 100%;
  }
  body .hero-content .main-banner-container .main-banner-sub-container .bunny-container-a-desktop {
    display: none;
  }
  body .hero-content .main-banner-container .main-banner-sub-container .bunny-container-a-mobile {
    height: 253px;
    display: block;
  }
  body .hero-content .hero-container {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
  }
  body .hero-content .hero-container .container-1 {
    width: 100%;
    height: 280.8;
  }
  body .hero-content .hero-container .container-1 .h2-hero {
    line-height: 1;
    font-size: 40px;
    color: rgb(118, 69, 217);
    margin-bottom: 20px;
  }
  body .hero-content .hero-container .container-1 .h3-hero {
    margin-bottom: 15px;
    font-size: 20px;
    color: rgb(40, 13, 95);
  }
  body .hero-content .hero-container .container-1 .connect-wallet {
    width: 160px;
    height: 48px;
    color: white;
    background-color: rgb(31, 199, 212);
    border: none;
    border-radius: 16px;
    font-family: inherit;
    font-size: 16px;
    box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px;
    margin-right: 5px;
  }
  body .hero-content .hero-container .container-1 .trade-now {
    width: 130px;
    height: 48px;
    font-size: 16px;
    color: rgb(31, 199, 212);
    background-color: transparent;
    border: 2px solid rgb(31, 199, 212);
    border-radius: 16px;
    font-family: inherit;
    font-size: 16px;
  }
  body .hero-content .hero-container .container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 280.8;
  }
  body .hero-content .hero-container .container-2 .bunny-container {
    width: 100%;
    margin-bottom: 0px;
    display: flex;
    justify-content: flex-end;
  }
  body .hero-content .hero-container .container-2 .bunny-container img {
    width: 220px;
  }
  body .main-content .background-content-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: fit-content;
    background: linear-gradient(white, rgba(118, 69, 217, 0.3));
    z-index: -1;
  }
  body .main-content .background-content-1 .cards-section1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 600px;
  }
  body .main-content .background-content-1 .cards-section1 .card-section1 {
    width: 300px;
    height: 166px;
    background-color: white;
    border-radius: 24px;
    border: 1px solid rgb(231, 227, 235);
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: "Kanit", sans-serif;
    position: relative;
  }
  body .main-content .background-content-1 .cards-section1 .card-section1 h2 {
    font-size: 35px;
    color: rgb(40, 13, 95);
  }
  body .main-content .background-content-1 .cards-section1 .card-section1 h2:nth-child(2) {
    color: rgb(118, 69, 217);
    position: relative;
    bottom: 15px;
  }
  body .main-content .background-content-2 .container-2 {
    margin-top: 30px;
    margin-bottom: 70px;
    height: fit-content;
    flex-direction: column-reverse;
    width: 100%;
    padding: 20px;
  }
  body .main-content .background-content-2 .container-2 .container-text {
    padding: 0;
    padding-left: 20px;
    width: 95vw;
    height: fit-content;
  }
  body .main-content .background-content-2 .container-2 .container-text h2 {
    font-size: 33px;
  }
  body .main-content .background-content-2 .container-2 .img-container {
    height: 220px;
    width: 100%;
  }
  body .main-content .background-content-2 .container-2 .img-container img {
    right: 0;
    width: 220px;
  }
  body .main-content .background-content-3 {
    height: 570px;
  }
  body .main-content .background-content-3 .container-3 {
    height: fit-content;
    flex-direction: column-reverse;
    width: 100%;
    padding: 20px;
  }
  body .main-content .background-content-3 .container-3 .container-text {
    padding: 0;
    padding-left: 15px;
    width: 95vw;
    height: fit-content;
  }
  body .main-content .background-content-3 .container-3 .container-text h2 {
    font-size: 33px;
  }
  body .main-content .background-content-3 .container-3 .img-container {
    height: 220px;
    width: 100%;
  }
  body .main-content .background-content-3 .container-3 .img-container img {
    left: unset;
    right: 0;
    width: 220px;
  }
  body .main-content .background-content-data {
    display: unset;
    height: 420px;
    background-color: rgba(122, 110, 170, 0.1);
  }
  body .main-content .background-content-data .container-data {
    margin-top: 50px;
  }
  body .main-content .background-content-data .container-data .group {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  body .main-content .background-content-data .container-data .group .group-border {
    border: none;
    padding-left: 0;
  }
  body .main-content .background-content-data .container-data .group .fourth {
    grid-column: 1;
    grid-row: 3;
  }
  body .main-content .background-content-data .container-data .group .fifth {
    grid-column: 2;
    grid-row: 3;
  }
}
@media screen and (max-width: 375px) and (min-width: 321px) {
  body .hero-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
  body .hero-content .main-banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    position: relative;
  }
  body .hero-content .main-banner-container .main-banner-sub-container {
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(128, 81, 214) 0%, rgb(73, 34, 134) 100%);
    height: 220px;
    width: 100%;
    padding: 24px;
    border-radius: 24px;
    position: relative;
  }
  body .hero-content .main-banner-container .main-banner-sub-container .main-banner-content-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    z-index: 1;
  }
  body .hero-content .main-banner-container .main-banner-sub-container .main-banner-content-container .main-banner-title {
    color: white;
    font-family: Kanit, sans-serif;
  }
  body .hero-content .main-banner-container .main-banner-sub-container .main-banner-content-container .mbt-a1 {
    font-size: 19px;
    background: linear-gradient(rgb(255, 216, 0), rgb(235, 140, 0));
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text; /*controllare quale usare, forse vanno messi entrambi, sia con sia senza il prefisso WEBKIT*/
    margin-bottom: 8px;
  }
  body .hero-content .main-banner-container .main-banner-sub-container .main-banner-content-container .mbt-a2 {
    font-size: 20px;
    margin-bottom: 16px;
    text-shadow: rgba(0, 0, 0, 0.35) 0px 4px 3px;
  }
  body .hero-content .main-banner-container .main-banner-sub-container .main-banner-content-container .main-banner-button-a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 48px;
    color: white;
    background-color: rgb(31, 199, 212);
    border: none;
    border-radius: 16px;
    font-family: inherit;
    font-size: 16px;
    box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px;
  }
  body .hero-content .main-banner-container .main-banner-sub-container .main-banner-content-container .main-banner-button-a .mbb-svg-a {
    align-self: center;
  }
  body .hero-content .main-banner-container .main-banner-sub-container .swiper-slide {
    background-color: transparent;
    width: 100px;
    height: 8px;
    background-color: rgba(186, 235, 74, 0.174);
    border-radius: 10px;
    position: absolute;
    bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body .hero-content .main-banner-container .main-banner-sub-container .swiper-slide .swiper {
    width: 50%;
    height: 8px;
    background-color: white;
  }
  body .hero-content .main-banner-container .main-banner-sub-container .swiper-slide .swpr-a {
    visibility: initial;
  }
  body .hero-content .main-banner-container .main-banner-sub-container .swiper-slide .swpr-b {
    visibility: hidden;
  }
  body .hero-content .main-banner-container .main-banner-sub-container .bunny-container-a {
    width: 30%;
    height: 121%;
    position: absolute;
    border-radius: 24px;
    bottom: 0;
    right: 0;
    z-index: 0;
  }
  body .hero-content .main-banner-container .main-banner-sub-container .bunny-container-a img {
    min-width: 100%;
    max-width: 100%;
    height: 100%;
  }
  body .hero-content .main-banner-container .main-banner-sub-container .bunny-container-a-desktop {
    display: none;
  }
  body .hero-content .main-banner-container .main-banner-sub-container .bunny-container-a-mobile {
    height: 253px;
    display: block;
  }
  body .hero-content .hero-container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
  }
  body .hero-content .hero-container .container-1 {
    width: 100%;
    height: 280.8;
  }
  body .hero-content .hero-container .container-1 .h2-hero {
    line-height: 1;
    font-size: 35px;
    color: rgb(118, 69, 217);
    margin-bottom: 30px;
  }
  body .hero-content .hero-container .container-1 .h3-hero {
    margin-bottom: 20px;
    font-size: 20px;
    color: rgb(40, 13, 95);
  }
  body .hero-content .hero-container .container-1 .buttons {
    display: flex;
    flex-direction: row;
  }
  body .hero-content .hero-container .container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 280.8;
  }
  body .hero-content .hero-container .container-2 .bunny-container {
    width: 100%;
    margin-bottom: 0px;
    display: flex;
    justify-content: flex-end;
  }
  body .hero-content .hero-container .container-2 .bunny-container img {
    width: 180px;
  }
  body .main-content .background-content-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: fit-content;
    background: linear-gradient(white, rgba(118, 69, 217, 0.3));
    z-index: -1;
  }
  body .main-content .background-content-1 .cards-section1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 600px;
  }
  body .main-content .background-content-1 .cards-section1 .card-section1 {
    width: 300px;
    height: 166px;
    background-color: white;
    border-radius: 24px;
    border: 1px solid rgb(231, 227, 235);
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: "Kanit", sans-serif;
    position: relative;
  }
  body .main-content .background-content-1 .cards-section1 .card-section1 h2 {
    font-size: 35px;
    color: rgb(40, 13, 95);
  }
  body .main-content .background-content-1 .cards-section1 .card-section1 h2:nth-child(2) {
    color: rgb(118, 69, 217);
    position: relative;
    bottom: 15px;
  }
  body .main-content .background-content-2 .container-2 {
    margin-top: 30px;
    margin-bottom: 70px;
    height: fit-content;
    flex-direction: column-reverse;
    width: 100%;
    padding: 20px;
  }
  body .main-content .background-content-2 .container-2 .container-text {
    padding: 0;
    padding-left: 15px;
    width: 95vw;
    height: fit-content;
  }
  body .main-content .background-content-2 .container-2 .container-text h2 {
    font-size: 33px;
  }
  body .main-content .background-content-2 .container-2 .img-container {
    height: 220px;
    width: 100%;
  }
  body .main-content .background-content-2 .container-2 .img-container img {
    right: 0;
    width: 220px;
  }
  body .main-content .background-content-3 {
    height: 570px;
  }
  body .main-content .background-content-3 .container-3 {
    height: fit-content;
    flex-direction: column-reverse;
    width: 100%;
    padding: 20px;
  }
  body .main-content .background-content-3 .container-3 .container-text {
    padding: 0;
    padding-left: 20px;
    width: 95vw;
    height: fit-content;
  }
  body .main-content .background-content-3 .container-3 .container-text h2 {
    font-size: 33px;
  }
  body .main-content .background-content-3 .container-3 .container-text h4 {
    font-size: 17px;
  }
  body .main-content .background-content-3 .container-3 .img-container {
    height: 220px;
    width: 100%;
  }
  body .main-content .background-content-3 .container-3 .img-container img {
    left: unset;
    right: 0;
    width: 220px;
  }
  body .main-content .background-content-data {
    display: unset;
    height: 420px;
    background-color: rgba(122, 110, 170, 0.1);
  }
  body .main-content .background-content-data .container-data {
    margin-top: 50px;
  }
  body .main-content .background-content-data .container-data .group {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  body .main-content .background-content-data .container-data .group .group-border {
    border: none;
    padding-left: 0;
  }
  body .main-content .background-content-data .container-data .group .fourth {
    grid-column: 1;
    grid-row: 3;
  }
  body .main-content .background-content-data .container-data .group .fifth {
    grid-column: 2;
    grid-row: 3;
  }
}
@media screen and (max-width: 320px) {
  body .hero-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
  body .hero-content .main-banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    position: relative;
  }
  body .hero-content .main-banner-container .main-banner-sub-container {
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(128, 81, 214) 0%, rgb(73, 34, 134) 100%);
    height: 220px;
    width: 100%;
    padding: 24px;
    border-radius: 24px;
    position: relative;
  }
  body .hero-content .main-banner-container .main-banner-sub-container .main-banner-content-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    z-index: 1;
  }
  body .hero-content .main-banner-container .main-banner-sub-container .main-banner-content-container .main-banner-title {
    color: white;
    font-family: Kanit, sans-serif;
  }
  body .hero-content .main-banner-container .main-banner-sub-container .main-banner-content-container .mbt-a1 {
    font-size: 19px;
    background: linear-gradient(rgb(255, 216, 0), rgb(235, 140, 0));
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text; /*controllare quale usare, forse vanno messi entrambi, sia con sia senza il prefisso WEBKIT*/
    margin-bottom: 8px;
  }
  body .hero-content .main-banner-container .main-banner-sub-container .main-banner-content-container .mbt-a2 {
    font-size: 20px;
    margin-bottom: 16px;
    text-shadow: rgba(0, 0, 0, 0.35) 0px 4px 3px;
  }
  body .hero-content .main-banner-container .main-banner-sub-container .main-banner-content-container .main-banner-button-a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 48px;
    color: white;
    background-color: rgb(31, 199, 212);
    border: none;
    border-radius: 16px;
    font-family: inherit;
    font-size: 16px;
    box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px;
  }
  body .hero-content .main-banner-container .main-banner-sub-container .main-banner-content-container .main-banner-button-a .mbb-svg-a {
    align-self: center;
  }
  body .hero-content .main-banner-container .main-banner-sub-container .swiper-slide {
    background-color: transparent;
    width: 100px;
    height: 8px;
    background-color: rgba(186, 235, 74, 0.174);
    border-radius: 10px;
    position: absolute;
    bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body .hero-content .main-banner-container .main-banner-sub-container .swiper-slide .swiper {
    width: 50%;
    height: 8px;
    background-color: white;
  }
  body .hero-content .main-banner-container .main-banner-sub-container .swiper-slide .swpr-a {
    visibility: initial;
  }
  body .hero-content .main-banner-container .main-banner-sub-container .swiper-slide .swpr-b {
    visibility: hidden;
  }
  body .hero-content .main-banner-container .main-banner-sub-container .bunny-container-a {
    width: 30%;
    height: 121%;
    position: absolute;
    border-radius: 24px;
    bottom: 0;
    right: 0;
    z-index: 0;
  }
  body .hero-content .main-banner-container .main-banner-sub-container .bunny-container-a img {
    min-width: 100%;
    max-width: 100%;
    height: 100%;
  }
  body .hero-content .main-banner-container .main-banner-sub-container .bunny-container-a-desktop {
    display: none;
  }
  body .hero-content .main-banner-container .main-banner-sub-container .bunny-container-a-mobile {
    height: 253px;
    display: block;
  }
  body .hero-content .hero-container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
  }
  body .hero-content .hero-container .container-1 {
    width: 100%;
    height: 280.8;
  }
  body .hero-content .hero-container .container-1 .h2-hero {
    line-height: 1;
    font-size: 35px;
    color: rgb(118, 69, 217);
    margin-bottom: 30px;
  }
  body .hero-content .hero-container .container-1 .h3-hero {
    margin-bottom: 20px;
    font-size: 20px;
    color: rgb(40, 13, 95);
  }
  body .hero-content .hero-container .container-1 .buttons {
    display: flex;
    flex-direction: row;
  }
  body .hero-content .hero-container .container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 280.8;
  }
  body .hero-content .hero-container .container-2 .bunny-container {
    width: 100%;
    margin-bottom: 0px;
    display: flex;
    justify-content: flex-end;
  }
  body .hero-content .hero-container .container-2 .bunny-container img {
    width: 180px;
  }
  body .main-content .background-content-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: fit-content;
    background: linear-gradient(white, rgba(118, 69, 217, 0.3));
    z-index: -1;
  }
  body .main-content .background-content-1 .cards-section1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 600px;
  }
  body .main-content .background-content-1 .cards-section1 .card-section1 {
    width: 85vw;
    height: 166px;
    background-color: white;
    border-radius: 24px;
    border: 1px solid rgb(231, 227, 235);
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: "Kanit", sans-serif;
    position: relative;
  }
  body .main-content .background-content-1 .cards-section1 .card-section1 h2 {
    font-size: 35px;
    color: rgb(40, 13, 95);
  }
  body .main-content .background-content-1 .cards-section1 .card-section1 h2:nth-child(2) {
    color: rgb(118, 69, 217);
    position: relative;
    bottom: 15px;
  }
  body .main-content .background-content-2 .container-2 {
    margin-top: 30px;
    margin-bottom: 70px;
    height: fit-content;
    flex-direction: column-reverse;
    width: 100%;
    padding: 20px;
  }
  body .main-content .background-content-2 .container-2 .container-text {
    padding: 0;
    width: 90vw;
    height: fit-content;
  }
  body .main-content .background-content-2 .container-2 .container-text h2 {
    font-size: 33px;
  }
  body .main-content .background-content-2 .container-2 .container-text h4 {
    font-size: 15px;
  }
  body .main-content .background-content-2 .container-2 .img-container {
    height: 220px;
    width: 100%;
  }
  body .main-content .background-content-2 .container-2 .img-container img {
    right: 0;
    width: 220px;
  }
  body .main-content .background-content-3 {
    height: 570px;
  }
  body .main-content .background-content-3 .container-3 {
    height: fit-content;
    flex-direction: column-reverse;
    width: 100%;
    padding: 20px;
  }
  body .main-content .background-content-3 .container-3 .container-text {
    padding: 0;
    width: 90vw;
    height: fit-content;
  }
  body .main-content .background-content-3 .container-3 .container-text h2 {
    font-size: 33px;
  }
  body .main-content .background-content-3 .container-3 .container-text h4 {
    font-size: 15px;
  }
  body .main-content .background-content-3 .container-3 .img-container {
    height: 220px;
    width: 100%;
  }
  body .main-content .background-content-3 .container-3 .img-container img {
    left: unset;
    right: 0;
    width: 220px;
  }
  body .main-content .background-content-data {
    display: unset;
    height: 420px;
    background-color: rgba(122, 110, 170, 0.1);
  }
  body .main-content .background-content-data .container-data {
    margin-top: 50px;
  }
  body .main-content .background-content-data .container-data .group {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  body .main-content .background-content-data .container-data .group .group-border {
    border: none;
    padding-left: 0;
  }
  body .main-content .background-content-data .container-data .group .fourth {
    grid-column: 1;
    grid-row: 3;
  }
  body .main-content .background-content-data .container-data .group .fifth {
    grid-column: 2;
    grid-row: 3;
  }
}
@media all and (min-width: 852px) {
  body {
    width: 100%;
  }
  body .container-5 {
    max-width: 100%;
  }
  body .container-5 picture.balls img {
    width: 512px;
    height: 512px;
  }
  body .container-5 picture.cards {
    top: 450px;
    position: relative;
  }
  body .container-5 picture.cards img {
    position: absolute;
    width: 512px;
    height: 512px;
  }
  body .container-5 .box-wrapper {
    width: 80% !important;
  }
  body .container-5 .box-wrapper .box-prizes h2, body .container-5 .box-wrapper .box-prizes span {
    font-size: 42px !important;
  }
  body .container-5 .box-wrapper .millions-in-prizes-cards {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: center;
    padding-bottom: 20px;
  }
  body .container-5 .box-wrapper .millions-in-prizes-cards .card-million.yellow {
    transform: rotate(-2deg);
  }
  body .container-5 .box-wrapper .millions-in-prizes-cards .card-million.purple {
    transform: rotate(2deg);
  }
  section.container-6 {
    height: 700px;
    padding: 0 24px;
    align-items: center;
  }
  section.container-6 .wrapper-6 {
    padding: 48px 24px;
    width: 1020px;
    height: 750px;
    justify-content: center;
  }
  section.container-6 .wrapper-6 .top-6 {
    display: flex;
    flex-direction: row-reverse;
  }
  section.container-6 .wrapper-6 .top-6 picture.bunny {
    position: relative;
    width: 410px;
    height: 400px;
    bottom: 55px;
    right: 40px;
  }
  section.container-6 .wrapper-6 .top-6 picture.bunny img {
    width: 410px;
    height: 400px;
  }
  section.container-6 .wrapper-6 .top-6 .box-cake {
    align-self: center;
    flex: 1 1 0%;
  }
  section.container-6 .wrapper-6 .top-6 .box-cake h2 {
    font-size: 40px;
  }
  section.container-6 .wrapper-6 .top-6 .box-cake h2 span {
    font-size: 40px;
  }
  section.container-6 .box-data {
    display: grid;
    grid-template-areas: " a b c" "d e f" !important;
    grid-template-columns: repeat(3, auto) !important;
    gap: 32px !important;
  }
  section.container-6 .box-data .max-supply {
    border-left: 1px solid rgb(215, 202, 236);
    padding: 0px 8px;
  }
  section.container-6 .box-data .total-supply {
    border-left: 1px solid rgb(215, 202, 236);
    padding: 0px 8px;
  }
  section.container-6 .box-data .market-cap {
    border-left: 0px !important;
    padding: 0 !important;
  }
  .container-7 {
    height: 420px;
  }
  .container-7 picture.left {
    padding-bottom: 20px;
    display: flex;
  }
  .container-7 picture.left img {
    width: 256px;
    height: 256px;
    position: absolute;
  }
  .container-7 picture.right {
    display: flex;
  }
  .container-7 picture.right img {
    width: 239px;
    height: 224px;
    position: absolute;
    right: 0;
    margin-top: 150px;
  }
  .container-7 .wrapper-7 .title-7 h2 {
    font-size: 40px;
  }
  .container-7 .wrapper-7 .title-7 p {
    font-weight: 400;
  }
  .container-7 .wrapper-7 .title-7 span {
    font-weight: 600;
  }
}

/*# sourceMappingURL=style.css.map */
