@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER ON TOP */
.nav {
  display: flex;
  height: 56px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(231, 227, 235);
  color: rgb(122, 110, 170);
  font-size: var(--normal);
}
.nav .navbar-icons {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.nav .navbar-icons .mkt-value {
  margin-right: 15px;
}
.nav .navbar-icons .mkt-value > a > img {
  width: 24px;
  height: 24px;
}
.nav .navbar-icons .mkt-value > a > span {
  color: rgb(122, 110, 170);
  font-weight: 600;
  line-height: 1.5;
  font-size: var(--normal);
  vertical-align: middle;
}
.nav .logo-desktop, .nav .navbarmenu, .nav .mkt-value, .nav .languages-container, .nav .connect-wallet {
  display: none;
}
.nav .logo-mobile {
  display: block;
  width: 28.2px;
  height: 29.39px;
  margin-left: 16px;
}
.nav .icons-mobile {
  width: 184.26px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 16px;
}
.nav .icons-mobile button {
  border: none;
  background-color: transparent;
}
.nav .icons-mobile .languages-btn > img {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
.nav .icons-mobile button.connect {
  display: block;
  width: 96.26px;
  height: 32px;
  padding: 0 16px;
  background-color: rgb(31, 199, 212);
  border-radius: 16px;
  box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
  font-weight: 600;
  font-size: var(--normal);
  color: #fff;
  cursor: pointer;
  margin-left: 5px;
}
.nav .icons-mobile.settings-container > button > img {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.external-link img {
  width: 20px;
  height: 20px;
}

/* NAVBAR ON BOTTOM */
.bottom-mobile-navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid rgb(231, 227, 235);
  padding-top: 5px;
  padding-left: 8px;
  padding-right: 8px;
  height: 50px;
  position: fixed;
  bottom: 0px;
  width: 100%;
}
.bottom-mobile-navbar .menu-item-mobile > span {
  display: flex;
  flex-direction: column;
  font-size: 10px;
}

/* DROP DOWN-CONTENT (ON BOTTOM - mobile first) */
.bottom-mobile-navbar .menu-item-mobile .drop-down-content {
  display: none;
}

/*posso usare solo :hover al momento, poi userò js*/
.bottom-mobile-navbar .menu-item-mobile:hover .drop-down-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
  height: 106px;
  position: absolute;
  bottom: 100%;
  left: 0%;
  right: auto;
  border: 1px solid rgb(231, 227, 235);
  width: calc(100% - 32px);
  border-radius: 16px;
}
.bottom-mobile-navbar .menu-item-mobile:hover .drop-down-content div {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 48px;
  padding: 4px 16px;
  justify-content: center;
}
.bottom-mobile-navbar .menu-item-mobile:hover .drop-down-content div > a {
  color: rgb(122, 110, 170);
}

.bottom-mobile-navbar .menu-item-mobile:nth-child(3):hover .drop-down-content {
  left: 3%;
  height: 154px;
}

.bottom-mobile-navbar .menu-item-mobile:nth-child(4):hover .drop-down-content {
  right: 0;
  left: auto;
  height: 154px;
}

.bottom-mobile-navbar .menu-item-mobile:last-child:hover .drop-down-content {
  right: 0;
  left: auto;
  height: 316px;
}
.bottom-mobile-navbar .menu-item-mobile:last-child:hover .drop-down-content .external-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.bottom-mobile-navbar .menu-item-mobile:last-child:hover .drop-down-content div:nth-child(4) {
  border-top: 1px solid rgb(231, 227, 235);
  border-bottom: 1px solid rgb(231, 227, 235);
}

@media screen and (min-width: 576px) {
  .bottom-mobile-navbar {
    display: none;
  }
  .nav {
    position: relative;
  }
  .nav .navbarmenu {
    display: flex;
    width: 300px;
    justify-content: space-around;
    margin-right: auto;
    margin-left: 20px;
    font-size: var(--normal);
  }
  .nav .navbarmenu .drop-down-menu {
    position: relative;
    display: inline-block;
  }
  .nav .navbarmenu .drop-down-menu:nth-child(2) > .drop-down-content {
    height: 106px;
  }
  .nav .navbarmenu .drop-down-menu:nth-child(3) > .drop-down-content {
    height: 154px;
  }
  .nav .navbarmenu .drop-down-menu:nth-child(4) > .drop-down-content {
    height: 316px;
  }
  .nav .navbarmenu .drop-down-menu:nth-child(4) > .drop-down-content > div:nth-child(4) {
    border-top: 1px solid rgb(231, 227, 235);
    border-bottom: 1px solid rgb(231, 227, 235);
  }
  .nav .navbarmenu .drop-down-menu:nth-child(5) > .drop-down-content {
    height: 316px;
  }
  .nav .navbarmenu .drop-down-menu .drop-down-content {
    display: none;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    height: 202px;
    width: 280px;
    top: 156%;
    left: 0%;
    border: 1px solid rgb(231, 227, 235);
    border-radius: 16px;
  }
  .nav .navbarmenu .drop-down-menu .drop-down-content .external-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .nav .navbarmenu .drop-down-menu .drop-down-content div {
    display: flex;
    flex-direction: column;
    height: 48px;
    padding: 4px 16px;
    justify-content: center;
  }
  .nav .navbarmenu .drop-down-menu .drop-down-content div > a {
    color: rgb(122, 110, 170);
  }
  .nav .navbarmenu .drop-down-menu .show {
    display: flex;
  }
}
@media screen and (min-width: 852px) {
  .navbar-icons .mkt-value {
    display: inline-flex;
  }
}
@media screen and (min-width: 968px) {
  .nav .logo-mobile {
    width: 160px;
    height: 24.85px;
  }
}/*# sourceMappingURL=header-style.css.map */