<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Cheaper and faster than Uniswap? Discover PancakeSwap, the leading DEX on BNB Smart Chain (BSC) with the best farms in DeFi and a lottery for CAKE.">
    <title>Liquidity | PancakeSwap - $3.523</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous"/>
    <link rel="stylesheet" href="trade-liquidity-subpage.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300;600&family=Oswald:wght@300;600&display=swap" rel="stylesheet">
<body>
    <!-- CARD LIQUIDITY-->
<div class="trade-card-container-liquidity">
    <section id="trade-card-container-swap">
        <header class="trade-header">
            <div class="trade-icons">
                <div class="trade-item">
                </div>
                <div class="trade-item-2 trade-item-2-swap">
                    <h2>Your Liquidity</h2>
                </div>
                <div class="trade-icons-right">
                    <button>
                        <img class="company-icons hover-active-class" src="../../svg/settings-button.svg"
                            alt="setting icon" />
                    </button>
                    <button>
                        <img class="company-icons hover-active-class" src="../../svg/clock.svg" alt="reload clock icon" />
                    </button>
                </div>
            </div>
            <h3>Remove liquidity to receive tokens back</h3>
        </header>
    
        <div class="trade-card-content">
           <span class="liquidity-content">Connect to a wallet to view your liquidity.</span>
    
        </div>

        <div class="liquidity-footer">
            <button class="connect-wallet hover-active-class">
                <svg viewBox="0 0 24 24" fill="white" width="20px" xmlns="http://www.w3.org/2000/svg" class="sc-8a800401-0 cejYsO"><path d="M18 13H13V18C13 18.55 12.55 19 12 19C11.45 19 11 18.55 11 18V13H6C5.45 13 5 12.55 5 12C5 11.45 5.45 11 6 11H11V6C11 5.45 11.45 5 12 5C12.55 5 13 5.45 13 6V11H18C18.55 11 19 11.45 19 12C19 12.55 18.55 13 18 13Z"></path></svg>
                <span>Add Liquidity</span>
            </button>
        </div>
    
    </section>
</div>
</body>
</html>