<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
    </style>
</head>

<body>
    <div class="wrapper">
        <div class="top-menu">
            <div class="overview">
                <a href="/nfts">Overview</a>
            </div>
            <div class="collections">
                <a href="/nfts/collections">Collections</a>
            </div>
            <div class="activity">
                <a href="">Activity</a>
            </div>
        </div>
        <div class="nft-marketplace">
            <div class="search-bar">
                <input type="text" placeholder="Search address">
            </div>
            <div class="titoli">
                <h1>NFT Marketplace</h1>
                <h2>Buy and Sell NFTs on BNB Smart Chain</h2>                
            </div>
        </div>
        <div class="newest-collection">
            <div class="top-collection">
                <h3>Newest Collections</h3>
                <a href="/nfts/collections" scale="sm">View All
                    <svg viewBox="0 0 24 24" color="primary" width="24px" xmlns="http://www.w3.org/2000/svg" class="sc-8a800401-0 gPfcNV"><path d="M9.29006 15.88L13.1701 12L9.29006 8.12001C8.90006 7.73001 8.90006 7.10001 9.29006 6.71001C9.68006 6.32001 10.3101 6.32001 10.7001 6.71001L15.2901 11.3C15.6801 11.69 15.6801 12.32 15.2901 12.71L10.7001 17.3C10.3101 17.69 9.68006 17.69 9.29006 17.3C8.91006 16.91 8.90006 16.27 9.29006 15.88Z"></path></svg>
                </a>
            </div>
            <div class="cards-newest">
                <div class="card-new"></div>
            </div>
        </div>
        <div class="hot-collections">
            <h3>Hot Collections</h3>
            <a href="/nfts/collections" scale="sm">View All</a>
            <div class="cards-collections">
                <div class="card-hot"></div>
            </div>
        </div>
        <div class="newest-arrivals">
            <div class="arrival card"></div>
        </div>
        <div class="faq">
            <h2>FAQ</h2>
            <div class="faq-box">
                <div class="faq-tab">
                    <p>I sold an NFT, where’s my BNB?</p>
                    <button>Details</button>
                </div>
                <div class="faq-tab">
                    <p>How can I list my NFT collection on the Market?</p>
                    <button>Details</button>
                </div>
                <div class="faq-tab">
                    <p>What are the fees?</p>
                    <button>Details</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>