* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;

    .wrapper {

        max-width: 600px;
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        // padding-top: 5px;
        align-items: center;
        padding: 5px 30px 30px 30px;

        .podio {

            display: flex;
            flex-direction: column;
            position: relative;

            .img {

                // position: absolute;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                position: absolute;
                z-index: 1;
                width: 320px;


                img {
                    border-radius: 50%;
                    height: 90.4px;
                    width: 90.4px;
                    // position: absolute;
                    // align-self: flex-end;
                    // position: relative;
                    // top: 12px;
                }

                & .syrup {
                    position: relative;
                    top: 25px;
                    border: 2px solid rgb(31, 199, 212);
                    box-shadow: 0px 2px 12px -8px rgba(25, 19, 38, .1), 0px 1px 1px rgba(25, 19, 38, .05);
                }

                & .cakers {
                    position: relative;
                    top: 45px;
                    border: 2px solid rgb(255, 178, 55);
                    box-shadow: 0px 2px 12px -8px rgba(25, 19, 38, .1), 0px 1px 1px rgba(25, 19, 38, .05);
                }

                & .flipper {
                    width: 102.4px;
                    height: 102.4px;
                    border: 2px solid rgb(69, 42, 122);
                    box-shadow: 0px 2px 12px -8px rgba(25, 19, 38, .1), 0px 1px 1px rgba(25, 19, 38, .05);
                }
            }

            svg {

                height: auto;
                width: 320px;
                position: relative;
                top: 90px;
            }
        }

        .text {
            width: 387px;
            display: flex;
            padding: 100px 20px 5px 20px;
            justify-content: space-around;
            color: #280d5f;

            .column {

                display: flex;
                flex-direction: column;
                gap: 15px;

                h3 {
                    font-size: 14px;
                }

                p {
                    font-size: 12px;
                }

                .flex {
                    display: flex;
                }

                .top-column {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }
        }

        .total-participants {
            display: flex;
            flex-direction: column;
            width: 100%;
            font-size: 24px;
            color: #280d5f;
            font-weight: 600;
            line-height: 1.5;
            background: linear-gradient(111.68deg, #f2ecf2, #e8f2f6);
            padding: 24px;
            border-radius: 24px;
            margin-top: 20px;
            min-width: 330px;
            max-width: 450px;

            h1 {
                font-size: 24px;
                color: #7645d9;
            }

            .flex {
                display: flex;
                flex-direction: row;
                width: 100%;
                align-items: center;
            }
        }
    }
}