* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kanit';
}


body {

    padding: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}






.card-mobile {


    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    gap: 35px;
    background: linear-gradient(rgb(118, 69, 217) 0%, rgb(69, 42, 122) 100%);
    width: 350px;
    height: 150px;
    padding: 23px;
    border-radius: 0px 0px 24px 24px;

    .sveglia {

        width: 65px;
        height: 65px;
        position: relative;
        bottom: 10px;
    }

    h2 {
        font-size: 24px;
        margin-bottom: 15px;
        color: linear-gradient(rgb(255, 216, 0), rgb(235, 140, 0));
        background: linear-gradient(rgb(255, 216, 0), rgb(235, 140, 0));
        -webkit-text-fill-color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
    }


    .box {

      display: flex;
      flex-direction: column;
      align-items: center;

    .small-box {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 190px;
        height: auto;
    }


        .small-line {

            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            width: 27px;
            height: 2px;
            background-color: #7a6eaa;;
            margin-top: 10px;
        
        }



        .small-line2 {

            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            width: 27px;
            height: 2px;
            background-color: #7a6eaa;;
            margin-top: 10px;
        
        }


        .box-text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        width: 200px;
        height: auto;

        

        .entry {

            color: #7a6eaa;
            position: relative;
            right: 3px;
            
            
        }

        .live {

            color: #7a6eaa;
            position: relative;
            right: 7px;
            
        }


        .end {

            color: #53dee9;
            position: relative;
            right: 3px;
           
        }
        }

}

}