* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

  
  body {
    padding: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
  }

  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 355px;
    height: 190px;
    position: relative;
    

  img {
    width: 90px;
    position: absolute;
    margin-right: 350px;
    

  }


  .card-2 {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 335px;
    height: 170px;
    background: linear-gradient(rgb(118, 69, 217) 0%, rgb(69, 42, 122) 100%);
    border-radius: 24px;
    gap: 10px;

  .box-1 {

    
 

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    svg {

        fill: #ffb237
        
    }


    h2 {
      
        font-family: 'Kanit';
        font-size: 40px;
        color: white;
        text-shadow: 4px 4px 4px black;
        
    }

    }


    button {
        
        width: 180px;
        height: 48px;
        color: white;
        background-color: rgb(31, 199, 212);
        border: none;
        border-radius: 16px;
        font-size: 16px;
        font-weight: 600;
        box-shadow: rgb(14 14 44 / 40%) 0px -1px 0px 0px;
        
    
        &:hover {

            opacity: 75%; 
        }
}
}

}



  