* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kanit';
}


body {

    padding: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}




.card-1 {


    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    gap: 7px;
    background: linear-gradient(rgb(118, 69, 217) 0%, rgb(69, 42, 122) 100%);
    width: 260px;
    height: 233px;
    padding: 23px;
    border-radius: 0px 0px 24px 24px;

    .sveglia {

        width: 65px;
        height: 65px;
        position: relative;
        bottom: 10px;
    }

    h2 {
        font-size: 24px;
        margin-bottom: 15px;
        color: linear-gradient(rgb(255, 216, 0), rgb(235, 140, 0));
        background: linear-gradient(rgb(255, 216, 0), rgb(235, 140, 0));
        -webkit-text-fill-color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
    }




    .small-box {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 180px;
        height: auto;
    }


        .box-text {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            width: 150px;
            height: auto;

            .entry {

                color: #7a6eaa;
                position: relative;
                right: 53px;
            }

            .live {

                color: #7a6eaa;
                position: relative;
                right: 7px;
            }


            .end {

                color: #53dee9;
                position: relative;
                left: 47px;
            }
        }

}


