* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    // margin-left: 20px;
    margin-top: 20px;
    gap: 20px;
    align-items: center;

    .card {
        width: 286px;
        max-height: 192px;
        border: 1px solid #e7e3eb;
        border-radius: 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 24px;
        box-shadow: 0 2px #e7e3eb;
        text-align: center;
        gap: 10px;
        

        h2 {
            font-size: 20px;
            color: #7645d9;
            line-height: 1.1;
            font-weight: 600;
        }

        p {
            // align-self: center;
            font-size: 14px;
            text-align: center;
            color: #7a6eaa;
            line-height: 1.5;
            font-weight: 400;
        }
    }
}

@media only screen and (max-width: 768px) and (min-width: 321px) {
    .wrapper {

        padding: 15px;
        .card {
            width: 100%;
        }
    }
  }

  @media only screen and (min-width: 1024px) {
    .wrapper {

        .card {
            width: 466px;
        }
    }
  }

  @media only screen and (min-width: 1440px) {
    .wrapper {

        .card {
            width: 368.66px;
        }
    }

  }
  