<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>card-7</title>
    <link rel="stylesheet" href="style7.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;600&display=swap');
    </style>
</head>
<body>
    <div class="wrapper">
        <div class="card first">
            <h2>Trade to increase your rank</h2>
            <p>Eligible pairs: DAR/BNB, CAKE/BNB, and CAKE/BUSD. Please note that the volume from limit orders will not be indexed.</p>
        </div>
        <div class="card">
            <h2>Play as a team</h2>
            <p>The higher your team’s rank, the better your prizes!</p>
        </div>
        <div class="card">
            <h2>Everyone’s a winner!</h2>
            <p>Sign up for battle and you’re guaranteed a prize!</p>
        </div>
    </div>
</body>
</html>